[2015-11-14 08:57] poblin-orange opened #14 "openstack cpi does not support neutron port for fixed ip"
Hello,
not sure its the good place for this issue.
Anyway, i have a problem with the openstack external CPI.
My OpenStack deployments requires neutron port provisionning to set a fixed IP on the micro-bosh.

This is a blocker for bosh-init. Is this limitation only on external CPI ?

Here the message i get

[code]

The message is misleading, and i could reproduce the error using the openstack nova

[2015-11-15 00:18] cppforlife commented on #14
I dont believe so. Were you configuring your Director VM in a different way when using `bosh micro deploy`?

If you cannot use fixed IPs, you can use a floating IP for the Director VM and use dynamic networks for the rest of the deployments.

[2015-11-15 18:34] poblin-orange commented on #14
Ok. No didnt try bosh-micro, was just wondering. Il will try to use a floating IP to workaround this issue.
Anyway, static ip should be supported in official cloustack CPI.

Is there an open issue on this ? (floating ip are usually expensive resources, normaly dedicated to public access. cant use them for all or internal bosh deployments wiring).

[2015-11-16 17:18] voelzmo commented on #14
@poblin-orange Which OpenStack distribution are you using? Is it actually hpcloud?

Looking at the [official OpenStack documentation](http://docs.openstack.org/admin-guide-cloud/networking_use.html#advanced-networking-operations) the command

[code]

should work – and it does on all OpenStack distributions I tried it on. I don't know when this feature was introduced, but at least on Versions as ol

[2015-11-16 17:28] voelzmo commented on #14
On a second thought, it might be that you are stumbling over https://bugs.launchpad.net/nova/+bug/1408529 which was fixed in https://review.openstack.org/#/c/149905/2

[Stark and Wayne had a blog about applying this fix manually](https://blog.starkandwayne.com/2015/05/05/openstack-juno-static-ip-patch/), if you want to give it a try.

[2015-11-17 12:45] poblin-orange opened #16 "Missing instruction for s3 type blobstore"
Hello,
trying to use the cpi on openstack. The properties are unclear, in the spec file, i dont get the meaning of each property.
Could you give some overview of the blobstore support (local/simple ? can we use a swift provided bucket instead of amazon, sample manifest).

[2015-11-17 14:33] voelzmo commented on #16
Hey @poblin-orange

Only S3 compatible blobstores are supported by the bosh-agent, i.e. if you enable S3 compatibility, you can use Swift as a blobstore. Native Swift is not supported.

Please have a look at [Director blobstore configuration](http://bosh.io/docs/director-configure-blobstore.html) and [the Director `agent.blobstore` properties](http://bosh.io/jobs/director?source=github.com/cloudfo

[2015-12-28 15:58] voelzmo commented on #14
Closing this issue for now, it seems to be a problem with the openstack provider. Please re-open if there is something we can do.

[2015-12-28 15:58] #14 closed

[2016-01-12 02:03] guoger opened #18 "Re-deploy failed in recreating VMs"
To reproduce:
1. Prepare a OpenStack (nova network) environment
2. Do a normal deploy
3. Change something that should trigger VM recreation (changes on network, stemcell, env keys, etc.)
4. Deploy again

We get error like this:
[code]

**We are using devstack to provision an OpenStack environment and this is our local.conf**
[code]

[2016-01-12 02:06] guoger commented on #18
@voelzmo we have constantly encountered this issue and we wonder whether you have seen this before. @cppforlife thought it should be misconfigured OpenStack env. We are using **old format of manifest (non-cloud-config)** and **nova network**. We will try on neutron network some time later.

Cheers,
@xingzhou and Jay

[2016-01-12 10:51] voelzmo commented on #18
@guoger that looks interesting. I haven't used nova-network at all, so probably it is related to that. I'll try to reproduce it using DevStack. On configurations using neutron networking I haven't seen this before so far.

 Do you have some more information on the versions of bosh and openstack-cpi that you use?

[2016-01-12 12:57] guoger commented on #18
@voelzmo we are using openstack-cpi-release-11. And BOSH director is based on recent develop branch, I don't know exact commit hash but nothing earlier than last thursday. Thanks!

[2016-01-15 15:28] ramonskie opened #19 "volume is not created on openstack kilo"
i followed the documentation on https://bosh.io/docs/init-openstack.html
and created/edited the template file accordingly
but the deployment fails because the volume is never created

i even tried
[code]
instead of the use
 persistent_disk_pool: disks

for reference https://github.com/cloudfoundry/bosh-init/issues/64

[2016-01-17 11:52] voelzmo commented on #19
Hi @ramonskie, could you please provide some more log output and the deployment manifest you are using (with removed passwords) so we can check what actually happened?

[2016-01-17 13:40] ramonskie commented on #19
the manifest http://pastebin.com/tZb8Rk9u
 debug logging https://www.dropbox.com/s/43gdqsjh5wceq95/logging.log?dl=0

[2016-01-19 18:07] poblin-orange commented on #14
I confirm this is an issue on our provider.
Terraform user met the same issue https://github.com/hashicorp/terraform/issues/3194

We re expecting the iaas provider to fix this issue

[2016-01-20 16:49] voelzmo commented on #19
@ramonskie From these logs it is not very evident that the volume is not created and that is the reason for the failure. The agent doesn't answer to `ping` which could have several reasons. Have you tried the steps described in http://bosh.io/docs/tips.html#unreachable-agent and could you provide the [agent logs](http://bosh.io/docs/job-logs.html#agent-logs)?

[2016-01-22 15:00] ramonskie commented on #19
well i logged in to the created bosh vm and when i check the logs the director fails to start.
because it expects a another volume assigned to it and wants to mount it

[2016-01-26 16:47] voelzmo commented on #19
@ramonskie could you please provide the [agent logs](http://bosh.io/docs/job-logs.html#agent-logs)?

[2016-01-28 09:44] ramonskie commented on #19
yes i will try to have something at the end of this week

[2016-02-18 09:32] voelzmo commented on #19
@ramonskie any updates on the logfiles?

[2016-02-18 09:32] ramonskie commented on #19
totaly forgot about this...
i will recreate the environment today

[2016-02-25 12:17] ramonskie commented on #19
okay i don't know what happend
but i did a clean install with the latest example manifest provided
https://bosh.io/docs/init-openstack.html#create-manifest

and everything works as expected.

i tried to replicate the issue but i could not find one
so i think you fixed something in a later release

[2016-02-25 17:39] voelzmo commented on #19
Thanks @ramonskie for re-testing. Please let us know if you see that behavior again. Closing this one for now.

[2016-02-25 17:39] #19 closed

[2016-03-02 13:11] mattsday opened #24 "Failing to create Volumes"
Hi there,
I am trying to deploy CF via Bosh and all goes well until it tries to create a volume.

The logs are here:
http://matt.fragilegeek.com/cf/bosh-deploy.log

My cinder api log:

I'm using an NFS backed store for Cinder. Creating volumes otherwise (via the API or Horizon) works fine, as does attaching them to instances (and booting from them)

[2016-03-03 21:41] voelzmo commented on #24
Hi @mattsday

when you say that you are already deploying Cloud Foundry, I assume that you installed Bosh using `bosh-init` before? That should mean that there already is a persistent disk attached to the Bosh VM, could you check that please?

I also see an interesting combination of services going on in your Keystone catalog, which distribution are you using, is that a DevStack environment? Which

[2016-03-04 06:35] malik-altaf opened #25 "human_readable_vm_names: true does not work for cloudfoundry VMs"
`I have used the property ' human_readable_vm_names: true' and created the director. The director VM is named correctly as bosh/0. However when I deploy the CF release, my VMs are still named the old way. Please have a look at the following output.
[code]

I have attached the bosh deployment manifest and cloud foundry manifest stub that I used for my deployments.

[cf_redacted.yml.txt](https://git

[2016-03-04 09:25] voelzmo commented on #25
Thanks @malik-altaf the manifests look good so far. Could you also give me a redacted output of `bosh task <TASK_ID> --debug`, where `TASK_ID` is the task with which you deployed CF? The log is quite long, so you might want to put it into a gist or upload it somewhere else.

Seems like the metadata didn't get set correctly, so we should be able to find something in the log. Also, could you do a `n

[2016-03-04 23:56] amhuber opened #26 "Human readable VM names not working with full BOSH deployment"
Opening issue as requested at http://cf-bosh.70367.x6.nabble.com/cf-bosh-Announcement-OpenStack-CPI-release-v23-td1356.html.

My bosh-init VM and the BOSH VM itself do have human readable names, but the systems created by BOSH do not.  Please see the email thread above for my theory as to why but it looks like the full BOSH director configurtion did not get populated with the necessary properties

[2016-03-05 08:14] voelzmo commented on #26
@amhuber Can I get the *full* manifest which you use to deploy your "full-bosh"? You might want to redact passwords/floating IPs though. Thanks!

[2016-03-06 10:39] mattsday commented on #24
Hi @voelzmo,
When I think about it, the bosh-init didn't create a persistent disk (but still worked) so I just created one and mapped it afterwards and then mounted it to /var/vcap/store

I found the issue - by default RDO packstack sets this for liberty in /etc/cinder/cinder.conf:

Changing it to true worked a charm. Thanks!

[2016-03-06 10:39] #24 closed

[2016-03-07 01:33] malik-altaf commented on #25
Thanks @voelzmo,
 Please find the bosh director logs at public gist https://gist.github.com/malik-altaf/e947856aff54bf048676

The details of API vm are given below:
[code]

[2016-03-07 17:30] voelzmo commented on #25
Hi @malik-altaf

thanks for the additional logs. I cannot find a specific http call *every* installation of the OpenStack CPI in version >=23 should make, so I'm not sure if those VMs have really been created with the CPI in that version.

Furthermore, the OpenStack `nova` output from above shows that the VM was created on `2016-02-23T06:36:21Z `. Did you create your Director before or after that

[2016-03-07 19:00] amhuber commented on #26
Ah, that makes sense.  Indeed we are not specifying the external CPI.  I'll give that a try and re-deploy.

Regarding why we're using BOSH, it's mainly because these environments have been around since well before bosh-init existed and it used to be that the recommendation was to just use MicroBOSH to spin up BOSH.  If we build out a new environment now we'll likely just use bosh-init but we're no

[2016-03-07 23:18] malik-altaf commented on #25
Hi @voelzmo ,
 I created the bosh director on 2016/02/21 and I have bosh-init logs on that date showing CPI 23 and  human_readable_vm_names: true

[2016-03-08 08:03] voelzmo commented on #25
Hey @malik-altaf

I just realized that your Director manifest contains
[code]

It actually should be
[code]
as stated on [bosh.io](http://bosh.io/docs/init-openstack.html#create-manifest).

Right now, your Director uses the internal OpenStack CPI rubygem, which is deprecated and outdated.

[2016-03-08 21:23] amhuber commented on #26
Thanks for the info, after updating the manifest with the changes above to enable the external CPI the VMs are built with the expected human readable names.

[2016-03-08 21:23] #26 closed

[2016-03-08 23:50] malik-altaf commented on #25
Thanks @voelzmo, I'll try that out when I redeploy my cloud foundry and let you know if there is any issue.

[2016-03-09 05:01] malik-altaf commented on #25
Hi @voelzmo, I can confirm that after fixing the manifest file, VMs are being created with human readable names. Thanks for your help.

[2016-03-09 05:01] #25 closed

[2016-03-16 13:19] ramonskie commented on #19
found our issue
if the dns ip is not reachable then the agent fails.
then only issue here is that the logs are sending you in the wrong direction..

[2016-03-17 09:42] voelzmo commented on #19
Great that you found it, thanks for the update.

[2016-03-30 08:59] friegger commented on #24
@mattsday: We double checked on this issue, but could not reproduce the exact problem (we don't have PackStack, though). In your logs Cinder v1 is advertised in the service catalog, but the API was not responsive due to the *enable_v1_api = false*. That is strange, a disabled API should not show up in the service catalog. The CPI shows a helpful error message, if Cinder v1 is not advertised in the

[2016-03-30 22:00] ljfranklin opened #30 "I should be able to boot from a volume rather than local storage"
We had a user on slack that was attempting to deploy a VM with a flavor set to 0GB root and ephemeral disks. They referenced [this bug](https://bugs.launchpad.net/mos/+bug/1424624/comments/3) as the rational.

Looking at the code, there appears to be a `boot_from_volume` property that looks promising. However, the size of this volume is still determined by the disk size defined in the flavor. It s

[2016-04-04 22:40] cppforlife commented on #30
cc @voelzmo

[2016-04-05 19:26] voelzmo commented on #30
Thanks for the highlighting, @cppforlife :) I was a few days out of office, sorry for the delay.

I guess it makes sense to have the root disk size adjustable. I'll adjust the linked story in our backlog and put in something similar to AWS's [`ephemeral disk`](http://bosh.io/docs/aws-cpi.html#resource-pools) in the `resource_pool`. Does that sound reasonable?

[2016-04-06 07:54] kei-yamazaki opened #31 "Add support image v2 and volume v2 api"
Currently the openstack cpi supports only image (glance) v1 and volume (cinder) v1 api.
https://github.com/cloudfoundry-incubator/bosh-openstack-cpi-release/blob/master/docs/openstack-api-calls.md

But some public IaaS provides only v2 apis.

Do you plan to support the v2 api?

[2016-04-06 12:48] voelzmo commented on #31
Hey @kei-yamazaki, thanks for the notice. We are aware that the CPI currently uses APIs marked as deprecated, such as Cinder v1. Note, however, that glance v1 is still in the [`supported` stage](http://developer.openstack.org/api-ref-image-v1.html).

We will move to cinder v2 in the near future, glance v2 is not planned yet.

Out of curiosity: Which public provider doesn't support glance v1 and ci

[2016-04-07 00:20] kei-yamazaki commented on #31
@voelzmo, thanks for reply.

For example, "ConoHa" provides only glance v2 and cinder v2 (sorry Japanese docs).
https://www.conoha.jp/docs/

[2016-04-13 12:25] voelzmo commented on #18
@guoger Sorry it took me so long to get back to you. I couldn't reproduce your issue, in my devstack setup recreating VMs works nicely when changing properties.

Not sure if this is still relevant for you, but which version of devstack are you using? I suggest not to use `master` but switch to a stable branch, i.e. `stable/mitaka` or `stable/liberty`. Did you re-try with neutron enabled as you sta

[2016-04-29 22:11] voelzmo commented on #30
Marking as open-for-contributions as we've got different priorities for now. For anyone who likes to take shot at this: I've added more detailed tasks and background info [in the corresponding tracker story](https://www.pivotaltracker.com/story/show/116653013)

[2016-05-04 03:30] guoger commented on #18
@voelzmo Thanks for your reply! We are running Juno and we encountered IP conflicts in other circumstances as well, so I guess it's not an OpenStack-CPI issue. Unfortunately we are not actively working on BOSH anymore. As for now, I suggest you could close this issue unless the problem emerges again.

Sorry I didn't get back to you sooner.

[2016-05-04 04:45] #18 closed

[2016-05-04 18:13] Infra-Red opened #34 "Different AZ for volume and instance"
Hi!
At current moment I have the need to move one of my Bosh deployed instances with persistent disk to another availability zone, but CPI [does now allow](https://github.com/cloudfoundry-incubator/bosh-openstack-cpi-release/blob/master/src/bosh_openstack_cpi/lib/cloud/openstack/availability_zone_provider.rb#L39) to attach volume from one availability zone to instance in another.
Is it somehow pos

[2016-05-04 19:28] cppforlife commented on #34
@Infra-Red i'm pretty sure that's an openstack limitation and not the cpi. you could try:

- snapshot your disk and making another volume in a different AZ from that snapshot
- remove persistent disk from your instances in the manifest
- deploy them to a different AZ without disks
- `bosh stop name/id`
- use `bosh attach disk <volume id in the new az> name/id`
- update your manifest to state that

[2016-05-04 19:48] Infra-Red commented on #34
@cppforlife it is possible to mount volume to instance in different zones manually. I will try `bosh attach` feature and share result.
Thanks!

[2016-05-04 21:33] voelzmo commented on #34
@Infra-Red The CPI allows for different AZs in VMs and Disks by specifying [`openstack.ignore_server_availability_zone`](http://bosh.io/jobs/openstack_cpi?source=github.com/cloudfoundry-incubator/bosh-openstack-cpi-release&version=24#p=openstack.ignore_server_availability_zone). Not sure if that helps you with that case, though.

[2016-05-09 07:34] cppforlife commented on #34
@Infra-Red is your volumes backend not separated into azs just like compute?

[2016-05-09 22:30] alfredcs commented on #18
We ran into the same issue with OpenStack Liberty. The bosh deploy always tries to use the second IP and the allocated subnet which by default has been used by dhcp. Should bosh be able to pick an available one from the pool? More importantly how to mitigate this?

Deploying
---------
Are you sure you want to deploy? (type 'yes' to continue): yes

Director task 70
  Started preparing deployment >

[2016-05-10 07:04] voelzmo commented on #18
@alfredcs: the error `OpenStack API Bad Request (Fixed IP address 10.10.2.2 is already in use on instance dhcp487d6daa-08a3-5ee8-87b1-5bf158f48408-fd9bc95d-fe08-488a-ad8e-2e2f3c965c11.)` sounds indeed like that IP address is in use by the DHCP server in that network.

When you are using a network of `type: manual`, BOSH picks the IP addresses for your deployment, not the OpenStack DHCP server. The

[2016-05-20 07:30] voelzmo commented on #34
@Infra-Red Could you solve your issue or workaround it somehow?

[2016-05-20 11:14] frantisek121 opened #38 "openstack bosh-init fails on mbus agent"
Hi,

I am trying to use bosh.yml template (https://bosh.io/docs/init-openstack.html), but I got stuck on log message:

[httpClient] 2016/05/20 08:29:11 DEBUG - Sending POST request with body {"method":"ping","arguments":[],"reply_to":"989ff387-e93e-41bb-7d9d-74bcef5e7e96"}, endpoint https://mbus:mbus-password@<my FIP>:6868/agent

bosh-init deploy ./bosh.yml output finishes with:

Command 'deploy'

[2016-05-21 12:52] voelzmo commented on #30
Implemented in release v25.

[2016-05-21 12:52] #30 closed

[2016-05-21 12:56] voelzmo commented on #38
That sounds like an issue during agent bootstrap. Possible reasons are many, just trying to eliminate a few:
* Can you boot a VM in OpenStack using `nova boot` and ssh into it?
* If that works, try again to `bosh-init` and can you access the VM's console in Horizon during that?
  * Please check the bosh-agent log at `/var/vcap/bosh/log/current` and paste it here

Hope that helps finding the issue.

[2016-05-23 09:02] frantisek121 commented on #38
Hi,

my problem was that I used a custom flavor. I used the default now and all
is good.

BTW: How would I check the log? I was able to login only with vcap user
that has no sudo rights. No need to answer that as it is no blocker for me,
I am just curious...

Thank you for support !!!

Br

Frantisek Dolezel

On 21 May 2016 at 14:56, Marco Voelz <notifications@github.com> wrote:

[2016-05-23 09:09] voelzmo commented on #38
@frantisek121 Checking the log works after `sudo su -`. The default password for vcap is `c1oudc0w`, as stated in the [documentation](https://bosh.io/docs/vm-config.html#global)

[2016-05-23 09:09] #38 closed

[2016-06-15 08:51] mauromorales opened #39 "Cannot start instance in cloud with multiple hypervisors"
Hello, I was trying to install bosh and cf but came up with the following issue:

The cloud where it is running can run docker, kvm and vmware instances. After uploading the stemcell with bosh/bosh-init the image would try to run on docker which of course ended up failing. It was until the hypervisor type property was set that it was possible to instanciate it.

`glance image-update --property hyp

[2016-06-21 01:11] cppforlife commented on #39
@mauromorales looks like CPI properly picks it up (https://github.com/cloudfoundry-incubator/bosh-openstack-cpi-release/blob/master/src/bosh_openstack_cpi/lib/cloud/openstack/cloud.rb#L116) but stemcell doesnt include it:

[code]

I'm not too sure what's going to happen to different environments when hypervisor type is specified. Do you happen to know if this matters in envs with only one hypervis

[2016-06-21 05:39] loewenstein commented on #39
@cppforlife have you seen the "hypervisor" property in the stemcell? My current assumption (as stated in tracker as well) is a simple typo in the cpi code. Can you rule that out?

[2016-06-21 05:49] #34 closed

[2016-06-21 07:19] mauromorales commented on #39
Here are the contents of `stemcell.MF`:

[code]

And hypervisor seems to be rejected by https://github.com/cloudfoundry-incubator/bosh-openstack-cpi-release/blob/fb8e99d6e10674d5374d1b447c94dfe60435d83c/src/bosh_openstack_cpi/lib/cloud/openstack/cloud.rb#L118

The rest of the attributes seem to work fine

[2016-06-21 07:22] mauromorales commented on #39
@cppforlife it doesn't seem to affect in environments with only one hypervisor

[2016-06-21 07:34] tomoe opened #40 "Error handling when token expires in the middle of creating a stemcell"
I get the following error when creating a stemcell took a log time and the token expired in the middle of the creation.
I'd expect it to regenerate a token, and continue the work, but it is blowing up.

[code]

Relevant logs on the glance-api side:

[code]

[2016-06-22 00:24] cppforlife commented on #39
@loewenstein Yup found the code [1] and as you pointed out it's generic. I think it makes sense to set hypervisor_type=kvm if disk_format=qcow2 in the openstack cpi?

@mauromorales interested in making a PR to this repo?

[1] https://github.com/cloudfoundry/bosh/blob/695bed549bd93dd263285b6da08b4c23fe24e98c/bosh-stemcell/lib/bosh/stemcell/stemcell_packager.rb#L57

[2016-06-22 10:03] mauromorales commented on #39
@cppforlife happy to :) ... just pushed it, please check it out and let us know what you think. We did the full pairing with @aduffeck

[2016-06-23 07:31] fanux opened #42 "Unable to connect to the OpenStack Image Service API"
I got an image error, but could not  fixed it.

[code]

image service API is  http://192.168.1.121:9292
[code]
How can I solve my problem.

[2016-06-23 08:05] beyhan commented on #39
@cppforlife Could you elaborate why the hypervisor type depends on the disk format? Shouldn't they be independent?
Our intention is to take the value from the `hypervisor` property of stemcell manifest and translate it to the required value by OpenStack as @loewenstein pointed here: http://docs.openstack.org/cli-reference/glance.html#image-service-property-keys

[2016-06-23 08:11] mauromorales commented on #39
@beyhan yup we also think it shouldn't be related to disk format so we didn't include it in #41

[2016-06-23 08:24] fanux commented on #42
I solved this problem.

I use the identity v3 lead to this error.
just change the auth_url

http://domain/identity => http://domain/identity/v2.0/

[2016-06-23 09:55] beyhan commented on #42
@fanux it has to be the complete `identity` URL. It can be found in the OpenStack UI. We support both v2 and v3.

[2016-06-23 09:55] #42 closed

[2016-06-23 12:57] fanux commented on #42
@beyhan ,  but as I know, the manifest of v2 and v3 are difference.

[2016-06-23 13:14] fanux opened #43 "Image [image Id] not found"
I deploy cloudfoundry on openstack(devstack),  It came out an error:
[code]

[2016-06-24 09:27] #39 closed

[2016-06-24 10:24] loewenstein commented on #43
Could you please provide the full output? Best would be to include the debug log output as well (see https://bosh.io/docs/using-bosh-init.html#logging to configure bosh-init to provide debug output).

I cannot imagine stemcell upload to succeed and VM creation to fail with "stemcell not found" without somebody or something deleting the image from Glance in between.

Did you happen to unstack.sh an

[2016-06-27 08:59] fanux commented on #43
the VM CID is persisted in deployment state file in the same folder as the deployment manifest. I delete the old state.json file and redploy the error got away.

[2016-06-27 08:59] #43 closed

[2016-06-27 18:01] cppforlife commented on #40
@loewenstein this was from v23 which used fog gem (not fog-openstack). did you see the same problem with fog-openstack?

[2016-06-27 18:56] loewenstein commented on #40
@cppforlife interesting, I didn't know/notice this was for v23. The code path I have seen in fog-openstack matches the above OpenStack log quite well (401 followed by 300 with a path missing the v1.1 in the request) so I still expect the problem exists in fog-openstack as well.

[2016-06-28 00:50] tomoe commented on #40
Thanks @loewenstein for following up.  Found an issue you've created for this, which I'm adding a link here:https://github.com/fog/fog-openstack/issues/148

[2016-07-11 07:04] MoizArif opened #44 "Uploading stemcell fails with Error 100: Unknown CPI error 'Unknown' with message 'connect_write timeout reached'"
I am trying to upload the bosh stemcell image and it keeps on failing with this message:

`Error 100: Unknown CPI error 'Unknown' with message 'connect_write timeout reached'`

The complete output of the bosh upload stemcell command can be seen here: http://pastebin.com/30bnXAtc

The debug output of this task can be seen here: http://pastebin.com/ZUi4RMQY

i have tried many stemcell images but all

[2016-07-11 08:36] Kiemes commented on #44
Hi @MoizArif,

thanks for your question. Apparently your Glance was not able to handle the connection in time. The default connection timeout is 60s.
We have the possibility of setting `connect_timeout` in the [connection_options](http://bosh.io/jobs/openstack_cpi?source=github.com/cloudfoundry-incubator/bosh-openstack-cpi-release&version=25#p=openstack.connection_options) of your bosh director de

[2016-07-11 11:20] MoizArif commented on #44
Hi @Kiemes
Thanks for the reply.

I am using OpenStack Kilo deployed through MOS.

I have added the tag "write_timeout: 360" under the openstack section in bosh.yml file and redeployed the director but still facing the same issue.

May be i am adding the timeout in an incorrect fashion. Uploading the stemcell yields the same error as before.

[2016-07-11 11:45] Kiemes commented on #44
@MoizArif `connect_timeout` would be the right key in your case. Make sure your openstack looks similar to this:

[code]

[2016-07-11 16:01] MoizArif commented on #44
@Kiemes I made the necessary changes but the uploading process is still getting stuck at 96%. But this time the timeout seemed to have worked and therefore i got another error now:

[code]

From the logs:
[code]

However, my OpenStack auth_url is working when i execute openstack cli commands.
`export OS_AUTH_URL='http://10.10.26.2:5000/v2.0/'`

[2016-07-12 11:36] loewenstein commented on #44
@MoizArif Could you please send us your bosh.yml and the recent version of the debug log for the upload stemcell task.
Don't forget to redact any secrets.

In parallel let's see what the openstack cli equivalent does.
Could you please try to upload the stemcell 'manually' like
1. Untar stemcell
2. Open stemcell.MF in text editor (for looking up '<manifest value>' below)
3. `openstack image create

[2016-07-12 12:05] MoizArif commented on #44
@loewenstein

1. Here is my bosh.yml file: http://pastebin.com/qDPMZv9A
2. Yes, the manual upload of the image is successful, the image is active. Used the following command:

`glance image-create --file image --disk-format qcow2 --property version='3262.2' --property hypervisor_type=kvm --container-format bare --property os_type=linux --property os_distro=ubuntu --property architecture=x86_64 --p

[2016-07-12 14:48] voelzmo commented on #44
@MoizArif: It seems the Director VM is not able to contact your OpenStack endpoints. Maybe due to security group settings or network restrictions.

Please try the above commands from the Director VM to eliminate those issues.

[2016-07-12 16:35] MoizArif commented on #44
@voelzmo : It seems that OpenStack clients are installed in the BOSH director VM. Is there any other way of executing the above command from inside the Director VM?

The security group used is bosh and allows all traffic in & out of the VM. I have attached the screenshot of the security group rules i have configured.

![image](https://cloud.githubusercontent.com/assets/3896078/16774714/aec555ee-48

[2016-07-13 09:28] MoizArif commented on #44
Hi guys,
Since keystone internal URL wasn't accessible from the Director VM, i used the keystone public url and used it as auth_url under openstack tag in bosh.yml and then redeployed the director VM. Note that the public url is on the same network as the floating IP assigned to the director VM and the public url is also pingable. Now when i upload the stemcell it can access the url but now it giv

[2016-07-13 09:30] voelzmo commented on #44
@MoizArif Connectivity issues was what I suspected. For configuring self-signed certificates: the documentation has some information on how to add support for validating self-signed endpoint certs [1].

Hope that helps!

[1] http://bosh.io/docs/openstack-self-signed-endpoints.html

[2016-07-13 10:21] MoizArif commented on #44
@voelzmo
After changing the bosh.yml file to include ca_cert, now the `bosh-init deploy bosh.yml` command is failing with:

[code]

to be clear, this is the i am adding the contents of `/etc/keystone/ssl/certs/ca.pem` under the ca_cert tag in bosh.yml. Is it fine?

[2016-07-13 11:18] MoizArif commented on #44
@voelzmo
For now, i have used `ssl_verify_peer: false` in the openstack.connection_options in bosh.yml and now the stemcell is uploaded successfully. But the progress still shows 96%. What do you think can be causing this now?

![image](https://cloud.githubusercontent.com/assets/3896078/16801625/4c92ca10-4915-11e6-956e-98954c49aa55.png)

[2016-07-13 11:35] MoizArif commented on #44
Same issue while `bosh upload release` @ 96%

![image](https://cloud.githubusercontent.com/assets/3896078/16802017/a78cf2ae-4917-11e6-8d74-16a131860740.png)

[2016-07-13 12:17] voelzmo commented on #44
@MoizArif The progress indicator sticking at 96% although the upload was successful is a known UI bug. As long as the task finished successfully, you're good to go.

Closing this one for now. Please re-open or create a new ticket if you encounter additional problems.

[2016-07-13 12:17] #44 closed

[2016-07-14 13:14] MoizArif opened #45 "bosh deploy fails while compiling packages"
Hi,

I am trying to run bosh deploy and the deployment errors out with the following errors:

![image](https://cloud.githubusercontent.com/assets/3896078/16840569/cd6de6b8-49ee-11e6-8b1d-3efcf43f252e.png)

what seems to be the issue here?

Thanks
Moiz

[2016-07-14 13:41] voelzmo commented on #45
@MoizArif The VMs didn't come up successfully in OpenStack, but went straight to state `error`. There might be additional debug information [contained in the debug log](http://bosh.io/docs/job-logs.html#director-logs) (accessible via `bosh task 20 --debug`, as stated in your output above), or in the OpenStack nova logs.

[2016-07-14 14:23] MoizArif commented on #45
@voelzmo, Yes is suspected that too. but couldn't narrow down the exact reason for the VMs going into error state. Attached is the task 20 --debug log, can you please help me find the root cause for this.

[task20.txt](https://github.com/cloudfoundry-incubator/bosh-openstack-cpi-release/files/363980/task20.txt)

[2016-07-14 14:37] voelzmo commented on #45
@MoizArif It seems to be that your haven't enough capacity on your compute nodes available. OpenStack reports
[code]

[2016-07-14 14:43] MoizArif commented on #45
I just checked my nova scheduler logs and apparently it verifies what we see in bosh logs
`nova.filters Filter ComputeFilter returned 0 hosts `

ahh. let me figure out the resources and get back to you. Thanks.

[2016-07-15 09:48] MoizArif commented on #45
@voelzmo : I solved the resource issues and now the VMs get created while running bosh deploy. Facing with another issue. can you take a look at the logs.

![image](https://cloud.githubusercontent.com/assets/3896078/16870327/796803a8-4a9a-11e6-9869-02a3cef3ca5b.png)
[task48-log.txt](https://github.com/cloudfoundry-incubator/bosh-openstack-cpi-release/files/365668/task48-log.txt)

[2016-07-15 09:52] MoizArif commented on #45
bosh docs state the following reasons for this:

1. blocked network connectivity between the Agent on a new VM and NATS (typically the Director VM)
2. bootstrapping problem on the VM and/or wrong configuration of the Agent
3. blocked or slow boot times of the VM

3rd is not applicable in my case. let me look at #1 & #2 meanwhile if you can find specific issue from the logs.

[2016-07-15 10:42] MoizArif commented on #45
My bosh director VM is not pingable from the worker VMs or from other normal VMs on the same network using the same security group. The director can ping the router interface. However, 2 normal VMs on the same network with same SG can ping each other directly. also 2 VMs can on different networks can ping each other using same SG.

[2016-07-18 09:14] voelzmo commented on #45
@MoizArif That sounds like an OpenStack related configuration problem where I can hardly help, sorry about that.

[2016-07-18 09:23] #45 closed

[2016-07-18 09:31] voelzmo commented on #31
@kei-yamazaki we have a story in the backlog for an update to [Glance V2](https://www.pivotaltracker.com/story/show/118677313) and [Cinder V2](https://www.pivotaltracker.com/story/show/118677339). However, they're currently marked as `open-for-contribution`, as we won't get to them very quickly, I think.

[2016-07-18 16:38] cppforlife commented on #31
We will contribute it: https://www.pivotaltracker.com/story/show/126520625

[2016-07-19 00:25] kei-yamazaki commented on #31
@voelzmo @cppforlife, thanks for information.

We are considering a contribution in my team.
I'll contact you if there is any progress.

[2016-07-19 09:36] MoizArif commented on #45
@voelzmo Yes, it was openstack related. i solved that but still back to the old problem
` Timed out pinging to 2daf77da-7b3f-4f3c-87e0-4d985d15f7ce after 600 seconds (00:10:25)`

Same screenshot as attached in the above comment.
From the Logs:

[2016-07-19 11:15] voelzmo commented on #45
That HTTP 404 is expected and okay. It is related to a cpi feature which you aren't using right now. If the BOSH Director cannot ping the VM it creates, you will see the above error of `Timed out pinging to...`, and this seems to be related to your network setup.

[2016-07-22 10:50] MoizArif commented on #45
Hi @voelzmo
I was able to clean up my environment and solve the connectivity related issues.
Now the VMs got created and could contact other VMs too and the director.
However, my deploy event failed with the following error message:

[code]

Any idea about what does this point to?
Thanks.

[2016-07-25 04:24] MoizArif commented on #45
The consul_agent logs on the consul VM shows the following error:
[code]

However, i have added the required certificates and keys in the cf-stub.yml file.

[2016-07-29 00:29] MoizArif opened #48 "bosh deploy fails while updating job blobstore_z1 > blobstore_z1/0"
Hi all,
I am deploying CF using BOSH and i am getting this error:

`Error 400007: 'blobstore_z1/0 (0eb27491-096c-4506-98b8-e06763d7f996)' is not running after update. Review logs for failed jobs: blobstore_nginx`

Here is the log from bosh task:

[code]

output of bosh vms command:
[code]

output of bosh instances --ps

[code]

can anyone help me with this issue?

[2016-07-29 03:53] MoizArif commented on #48
From monit logs inside blobstore_z1/0 VM:

[code]

[2016-07-30 07:37] MoizArif commented on #48
Solved this, changed tls port from 443 to 4443 as per release docs for cf release 239.

[2016-07-30 07:37] #48 closed

[2016-08-11 14:57] #31 closed

[2016-08-12 19:12] voelzmo commented on #31
Support for cinder v2 and glance v2 is in CPI releae v26

[2016-08-12 22:30] cppforlife commented on #31
@kei-yamazaki let us know if you hit some problem. we had to apply a few fixes to fog-openstack to properly support v2.

[2016-08-15 00:58] kei-yamazaki commented on #31
@cppforlife, Awesome fixes! Thanks!
Our team is going to use the new OpenStack CPI soon.
I'll let you know if we find some problem.

[2016-09-08 00:08] rushins commented on #45
Hello

I have very much similar errors. anyone have idea. i am getting timeout .

Started creating missing vms > ha_proxy_z1/0 (91109bc8-18eb-4ba3-8370-10d2eb17fbf1)
  Started creating missing vms > clock_global/0 (348ca045-5d5c-43c0-a65a-ccb39472f333)
  Started creating missing vms > api_worker_z1/0 (db15272c-0d95-446a-8563-6a31aee059f3)
   Failed creating missing vms > clock_global/0 (348ca045-5

[2016-09-08 06:32] voelzmo commented on #45
@rushins You can find some information how to debug the situation in the [official documentation at bosh.io](http://bosh.io/docs/tips.html#unreachable-agent)

[2016-09-19 14:59] chrisrana commented on #42
I am facing same issue,but I am using v2 only.
 CPI 'create_stemcell' method responded with error: `CmdError{"type":"Bosh::Clouds::CloudError","message":"Unable to connect to the OpenStack Image Service API: Expected([200, 204]) \u003c=\u003e Actual(404 Not Found)\nexcon.error.response\n  :body          =\u003e \"{\\\"error\\\": {\\\"message\\\": \\\"The resource could not be found.\\\", \\\"code\

[2016-09-20 15:33] kenfting commented on #44
@MoizArif, Hi, Moiz, I am using OpenStack Kilo to deploy cf, and facing the same quesion you have resolved. As you said, I have used ssl_verify_peer: false, connect_timeout: 360. But at last, it's still:

Started update stemcell > Uploading stemcell bosh-openstack-kvm-ubuntu-trusty-go_agent/3262.14 to the cloud. Failed: Unable to connect to the OpenStack Keystone API http://192.168.0.3:5000/v2.0/t

[2016-09-20 17:25] MoizArif commented on #44
Hi @kenfting , I used the same approach you mentioned. Just reiterating, check your /etc/keystone/keystone.conf file for "public_endpoint" and use it as auth_url in the bosh.yml file. If the value is like "https://xxxx:5000/v2.0" use it but make sure that your machine can resolve xxxx into an IP address that was in my case on the Public network. Hope this helps.

[2016-09-20 21:33] kenfting commented on #44
Hi, @MoizArif , Thanks very much for your reply. But I found my /etc/keystone/keystone.conf file for "public_endpoint" is <None>, should I set the value to like http:ctl:5000/v2.0 to it? I tried to do this, but it didn't work. I Installed the  BOSH on a VM instance on OpenStack, this IP of ctl is pingable, So I am thinking maybe it is security settings or something, what about username and api_key

[2016-09-21 04:45] MoizArif commented on #44
Your openstack section of bosh.yml should look like this:
[code]

Also make sure your security group for bosh has the required rules added. [https://bosh.io/docs/init-openstack.html#security-groups](url)

[2016-09-21 22:04] kenfting commented on #44
Hi @MoizArif
Thanks for your reply.
I used keystone v3. the username and api_key from /root/setup/admin-openrc.sh, they are like:
export OS_USERNAME=adminapi
export OS_PASSWORD=e877b22f01ec********
I also tried to use the openstack horizon's username (admin) and password (0e5e********), All these two can create the Director VM and be pingable.  I used ssh vcap＠ip -i ./bosh.pem to check that the pr

[2016-09-21 22:25] MoizArif commented on #44
Can you check the auth_url with using https and see if it works. Assuming the endpoints are configured using https.

[2016-09-21 22:53] kenfting commented on #44
After using https, and bosh-init deploy bosh.yml command:
Command 'deploy' failed:
  creating stemcell (bosh-openstack-kvm-ubuntu-trusty-go_agent 3262.12):
    CPI 'create_stemcell' method responded with error: CmdError{"type":"Bosh::Clouds::CloudError","message":"Unable to connect to the OpenStack Keystone API https://130.127.1**.1**:5000/v3/auth/tokens\nSSL_connect returned=1 errno=0 state=SSLv2

[2016-09-22 05:09] MoizArif commented on #44
are you sure you are using keystone api version v3 ? check by using "keystone endpoint-list | grep 5000" command on your OpenStack controller to check your public & internal endpoint urls for keystone.

[2016-09-22 18:29] kenfting commented on #44
Yes, it is keystone v3.
# openstack endpoint list | grep 5000
| 0eeca224bc044ac1bb816b2cb43a8034 | RegionOne | keystone     | identity        | True    | public    | http://ctl:5000/v3                    |
| 4152723e7c654864925547213b80dfd2 | RegionOne | keystone     | identity        | True    | internal  | http://ctl:5000/v3

So the public and internal are the same

[2016-09-23 03:44] kenfting opened #51 "Uploading stemcell bosh-openstack-kvm-ubuntu-trusty-go_agent/3262.14 to the cloud. Failed: Unable to connect to the OpenStack Keystone API http://ctl:5000/v3/auth/tokens"
I am deploying cloud foundry on openstack keystone v3, trying to upload the bosh stemcell image. But it prints this error message:

Uploading stemcell bosh-openstack-kvm-ubuntu-trusty-go_agent/3262.14 to the cloud. Failed: Unable to connect to the OpenStack Keystone API http://ctl:5000/v3/auth/tokens
getaddrinfo: Name or service not known (SocketError) (00:00:05)

Error 100: Unable to connect to t

[2016-09-23 05:13] voelzmo commented on #51
Dear @kenfting

It seems like the host `ctl` cannot be resolved from the BOSH Director VM (that's what the error says). Are you running a DevStack? Here is a few things you can try to figure out your networking problem:

* Can you access e.g. Horizon from the BOSH Director VM?
* Which DNS server are you using inside the VM? Something like `dig @<your DNS server IP> ctl` should work if this setup i

[2016-09-23 14:44] kenfting commented on #51
@voelzmo
Dear Marco,

Thanks very much for your answers. I am not sure whether it is DevStack, the openstack is provided by cloudlab.us. I will check with them. I tried to use IP address and hostname instead right now. but it also didn't work. About your suggestion, the result is ( vm_ip, ip_addresss and hostname replace the relative details):

1. I am not sure how to access Horizon from Director

[2016-09-23 14:52] voelzmo commented on #51
If you're not using a custom nameserver, `ctl` cannot be resolved to your actual OpenStack API endpoint. 8.8.8.8 is hosted by google, they have no chance to know where `ctl` should point to.

Try to use Keystone's IP address as OpenStack endpoint in your deployment manifest and re-deploy your BOSH Director.

[2016-09-23 15:54] kenfting commented on #51
Thanks @voelzmo

I used Keystone's IP address and re-deploy. the manifest is:
      auth_url: http://130.127.***.**:5000/v3
      endpoint_type: publicURL
      human_readable_vm_names: false
      ignore_server_availability_zone: false
      state_timeout:  300
      boot_from_volume:  false
      use_dhcp:  true
      wait_resource_poll_interval:  5
      project: admin
      domain: default

[2016-09-23 17:06] voelzmo commented on #51
I'm not sure how you're supposed to connect to the cloudlab.us OpenStack. Is this over some VPN connection? Did you add some nameserver entries manually?

[2016-09-23 17:34] kenfting commented on #51
I use ssh to connect the cloudlab.us Openstack controller, and deploy cloud foundry. is there something wrong with it? I tried to use different nameservers in /etc/resolv.conf, but no luck.

[2016-09-24 23:31] kenfting commented on #51
@voelzmo
Dear Marco,
I have updated the pulic URL, changed the hostname(ctl) to FQDN and restarted all services. Re-deployed and now the stemcell is uploaded successfully. Thanks all the same.

[2016-09-24 23:31] #51 closed

[2016-10-22 01:27] jreg2k commented on #45
HI @MoizArif , how did you cleaned up your environment and solve the connectivity related issues  ?

Regards.

[2016-10-22 08:31] MoizArif commented on #45
Hi @jreg2k, i had some mis-configurations in my setup. I had some stingy firewall rules that were blocking most of the traffic. Getting the right firewall rules in place, allowed traffic in and out from the OpenStack SG and reconfigure OpenStack networking solved those issues.

[2016-10-24 22:00] jreg2k commented on #45
HI @MoizArif thanks for your answer. It was a network issue for me too.
Regards.

[2016-11-23 19:54] craigbookwalter opened #53 "Can't configure additional security groups on per-instance-group basis"
In order to help us secure our bosh deployments, we would like to be able to specify a default security group in the cloud-config, which all VMs would receive upon deployment, and then specify in the deployment manifest additional security groups needed for certain jobs. For example, if we deploy a load balancer and a jump host with the same director, it would be good to be able to put them into d

[2016-11-23 19:56] cppforlife commented on #53
@ljfranklin does aws cpi also contain this behaviour? i think this was done on purpose to avoid accidently adding wrong security groups (ie only one place specifies them)

[2016-11-23 20:00] ljfranklin commented on #53
@cppforlife looks like it, although the AWS CPI seems to silently ignore security groups from the network rather than throwing an error if both are specifed:  https://github.com/cloudfoundry-incubator/bosh-aws-cpi-release/blob/4f97a64d169be634888abe80e64daaa04a8f1899/src/bosh_aws_cpi/lib/cloud/aws/instance_param_mapper.rb#L121. Not great...

[2016-11-24 07:54] #53 closed

[2016-11-24 07:55] voelzmo commented on #53
OpenStack CPI works as expected. As @cppforlife stated: This was a conscious decision to error out.

[2016-11-30 20:55] jaimegag opened #54 "Getting errors when creating VMs after upgrading to Liberty when Bosh passes no AZ config"
Getting the following error when creating VMs after OpenStack was upgraded from Kilo to Liberty:
`OpenStack API Bad Request (Invalid input for field/attribute availability_zone. Value: . u'' is too short)`

We don't specify any AZ information in the Bosh manifests and let OpenStack decide it. When Bosh tries to create a new VM the CPI seems to be passing the availability_zone key/property with an

[2016-12-01 01:18] tomoe commented on #54
Can you share nova-api.log?

[2016-12-01 01:51] tomoe commented on #54
I seems like its the case that is tested:
https://github.com/openstack/nova/blob/4f91ed3a547965ed96a22520edcfb783e7936e95/nova/tests/unit/api/openstack/compute/test_availability_zone.py#L296

So, the nova-api is rejecting a request with availability_zone==''

Do you have a HTTP request trace for bosh-init?
It might be a difference between availability_zone=='' and availability_zone being not prese

[2016-12-01 08:54] voelzmo commented on #54
@jaimegag Thanks for creating the issue with the thorough summary and logs!

Here are my observations:
* BOSH doesn't pass any availability zone into the `create_vm` call in any of the two cases
* In the second case, which fails, a volume UUID is also passed into the `create_vm` call. These volume UUID is used to figure out the correct availability zone in case the VM didn't specify a preference
*

[2016-12-01 19:01] jaimegag commented on #54
@voelzmo Yes, that volume and all we have are no specific to any AZ, so the `openstack volume show` call returns what you expected:
[code]
It seems that the empty string might be coming from there

[2016-12-02 11:56] #54 closed

[2016-12-02 18:19] voelzmo commented on #54
Fix released in v29

[2016-12-23 18:44] mcpeak opened #57 "Missing information about why failure occurred during OpenStack VM deployment"
While attempting to deploy bosh to OpenStack, I kept receiving failures with no indication of why.  It turned out that the floating IP that I was attempting to use was no longer available.  The only error I received from the command line was:

OpenStack API service not found error: Expected([200, 203]) \u003c=\u003e Actual(404 Not Found)

While attempting to access the Compute API for a specific i

[2016-12-23 22:12] mcpeak commented on #57
Looks like the help file suggests that this means "your VM creation has failed in some way".  A small enhancement to the doc with a checklist of things to validate may be useful.

- create XLarge VM from bosh image
- attach named security group
- attach to private network IP
- attach to public network IP
- retrieve named key

This may be overkill though...

etc

[2016-12-28 06:42] abhilash07 opened #58 "Bosh-Openstack-CPI can be deployed on openstack Newton Release ??"
Hi everyone is any one tested bosh-cpi on Openstack-Newton release. If any one deployed please let me know expected error. Thanks in advance.

Regards

Abhilash S

[2017-01-02 12:20] voelzmo commented on #58
Hi @abhilash07,

we currently don't test the OpenStack CPI with the Newton release. When OpenStack ditributors release their products for the Newton release, we will include it in our official test pipelines. This will most likely take a few more weeks, so stay tuned.

[2017-01-02 12:20] #58 closed

[2017-01-02 12:53] voelzmo commented on #57
@mcpeak Could you please provide the actual output and debug log of your deployment task? If we're going to change the output, I'd like to have an idea what the current situation looks like. Thanks!

[2017-01-04 15:32] mcpeak commented on #57
Sorry, I don't have access to the log anymore.  I agree the full log is pretty necessary to do something meaningful with this.  I'm happy to close it.

[2017-01-05 07:32] #57 closed

[2017-01-05 07:33] voelzmo commented on #57
Please re-open if the issue comes back.

[2017-01-14 03:02] harshalk91 opened #59 "bosh deploy Bosh::Clouds::CloudError' with message 'OpenStack API service not found error: Expected([201]) Actual(404 Not Found)"
Failed compiling packages > ruby-2.3/ca5b2d16eac54f907ab6c1f454d9c81560f311a2: CPI error 'Bosh::Clouds::CloudError' with message 'OpenStack API service not found error: Expected([201]) <=> Actual(404 Not Found)
excon.error.response
:body => "{"NeutronError": {"message": "The resource could not be found.", "type": "HTTPNotFound", "detail": ""}}"
:cookies => [
]
:headers => {
"Content-Length" => "10

[2017-01-16 10:22] voelzmo commented on #59
@harshalk91 The error indicates that your OpenStack installation doesn't provide neutron. Is this a DevStack by any chance?

The OpenStack CPI uses neutron by default to manage networks. See [the documentation on bosh.io](http://bosh.io/docs/openstack-nova-networking.html) on how to enable nova-networking compatibility.

[2017-01-17 11:36] harshalk91 commented on #59
@voelzmo We use openstack mitaka. I edited cf yml and able to go forward with that. But now there is another strange error while performing bosh deploy.  [](https://github.com/cloudfoundry/bosh/issues/1563) ---
director_uuid: e23b5aa1-d934-4176-a9c4-680c74c4b1f0
Here is my cf deployment yml:
meta:
  environment: dev

  floating_static_ips:
  - 10.104.160.87
networks:
  - name: floating
    type: v

[2017-01-17 12:09] voelzmo commented on #59
Okay, closing this one to continue the conversation in one place

[2017-01-17 12:09] #59 closed

[2017-01-22 15:24] charyorde opened #60 "Invalid device path: /dev/sdb"
Recreating bosh director generated invalid mount path.
[code]

I was expecting device path to be /dev/vdb.

### Environment
- OpenStack Mitaka
- PCF 1.9

[2017-01-23 07:47] voelzmo commented on #60
@charyorde Thanks for the report. A couple of questions we need for looking into this:
* which version of the OpenStack CPI are you using?
* When you are saying 'recreate', does this mean that the first deployment was successful?
* if so: what did you change/do between those two director installations?
* could you please remove credentials from your bosh-init manifest and paste it/attach it?
* cou

[2017-02-01 09:33] voelzmo commented on #60
Closing due to inactivity. Feel free to re-open with more information.

[2017-02-01 09:33] #60 closed

[2017-02-08 09:03] alpcrimea opened #61 "bosh deploy on Openstack fails with 401 HTTP status"
Hello. I'm trying to deploy CF with bosh on Openstack. Bosh deployed successfully.
Example YML for it at

https://gist.github.com/alpcrimea/b921e6d130c78b22899fb944685dd2ed

But CF's deploy with such stub is failing
https://gist.github.com/alpcrimea/f379650b38ee8fbcbb16842e34836461

Looks like it's creating VM, trying to upgrade(or just echoing that) and drops it.

[2017-02-08 09:13] voelzmo commented on #61
Thanks @alpcrimea for the report. The CPI cannot talk to the registry of the BOSH Director. This is because the two passwords in the `registry` settings of your manifest are different. Please make sure that in [this section](https://gist.github.com/alpcrimea/b921e6d130c78b22899fb944685dd2ed#file-bosh-yml-L77-L82) the two passwords are the same.

Hope that helps!

[2017-02-08 14:59] alpcrimea commented on #61
Thank you @voelzmo, that helped on this stage!

[2017-02-08 14:59] #61 closed

[2017-02-09 07:59] shoudusse opened #62 "Error while creating a vm with an attached floating ip."
Hello,
I'm running the cf-openstack-validator and i'm getting an error at the "can attach floating IP to a VM" stage:

    E, [2017-02-02T14:07:51.872517 #66763] ERROR -- : OpenStack API service not found error: Expected([200]) <=> Actual(404 Not Found)
    excon.error.response
      :body          => "{\"message\":\"Api does not exist\",\"request_id\":\"E307D556-D4BE-481D-83D2-4B6372BD4D1D\"}"

[2017-02-09 12:36] voelzmo commented on #62
That's quite interesting, I've never seen all empty strings being returned on a query like this, where it should be all `nil` instead.
Out of curiosity: Which OpenStack installation and version is this?

Seems like we should check for `.empty?` additionally to existence of the property `port_id`.

[2017-02-09 17:02] shoudusse commented on #62
I ran some tests on 2 different OpenStack distributions and effectively the results are not the same:
# Vanilla OpenStack
    GET /v2.0/floatingips/<floating_id>
    { ... , "port_id": null, ... }

# Huawei FusionSphere OpenStack
    GET /v2.0/floatingips/<floating_id>
    { ... , "port_id": "", ... }

I will submit a Pull Request with the fix you proposed in the previous comment

Thanks for your

[2017-02-17 13:11] Kiemes commented on #62
Fix has been merged. Closing.

[2017-02-17 13:11] #62 closed

[2017-02-28 02:17] zhoutiekui opened #66 "Persistent disk with volume id <volume_id> could not be found"
Hi, I had encountered an mounting disk error as follow. I had confirmed from the OpenStack console that the Disk had been created  and attached to the VM  And I don't know the root cause , is there some suggestion about how to analyze the problem. I am confused by this question. Thank you very much.

My stemcell is :
bosh-stemcell-3312.12-openstack-kvm-ubuntu-trusty-go_agent.tgz

Error logs:
Start

[2017-02-28 03:32] cppforlife commented on #66
please try using latest version of bosh-init or cli v2.

Sent from my iPhone

[2017-02-28 07:41] beyhan commented on #66
The latest stemcell [3363.9](https://s3.amazonaws.com/bosh-core-stemcells/openstack/bosh-stemcell-3363.9-openstack-kvm-ubuntu-trusty-go_agent.tgz) could also help. It makes the bosh-agent's communication with the  OpenStack metadata service more resilient. See [pull-request] (https://github.com/cloudfoundry/bosh-agent/pull/117)

If you want to analyze the issue it should be possible to ssh into th

[2017-02-28 12:17] zhoutiekui commented on #66
@beyhan @cppforlife  thanks for your reply,  actually I also found that the vcap password is not c1oudc0w, I cannot even login to see the content of the bosh logs with the vcap user privilleges. What caused the password not take effect ?  and is there any way to generate a new password ?
Thanks.

[2017-03-01 09:34] beyhan commented on #66
@zhoutiekui new stemcells have disabled the default password for the `vcap` user. Now you have to specify a password. See here how to specify it: https://www.cloudfoundry.org/hardening-the-vcap-users-password-on-bosh-vms/

[2017-03-01 12:32] voelzmo commented on #66
Seems like the initial error has been fixed. Please open new issues when a new problem comes up.

[2017-03-01 12:32] #66 closed

[2017-03-01 16:38] voelzmo commented on #16
closing this, all blobstore clients except S3 and webdav have been remove removed in bosh: https://www.pivotaltracker.com/story/show/139905445

[2017-03-01 16:38] #16 closed

[2017-03-10 07:50] zhoutiekui opened #68 "The v3 auth method cannot get the specied project/tenant name."
When I specify the project name but didn't take effect as there are serveral projects in my environment. And the bosh openstack cpi choose the first one selected by the /v3/users/#{user_id}/projects API rather than the configuration.so with the wrong project and auth failed.

 I need to change the code to my project and It can take affect.

/home/tempest-web/tempest/web/vendor/bundle/ruby/2.2.0/ge

[2017-03-10 08:53] voelzmo commented on #68
@zhoutiekui could you please show us your CPI configuration in the manifest? Please make sure to remove passwords and/or endpoints before pasting it in here. Thanks!

[2017-03-10 12:27] zhoutiekui commented on #68
I use bosh v27
    openstack:
      auth_url: https://mydomain/v3
      tenant: eu-de
      project: eu-de
      domain: username
      username: username
      api_key: password
      default_key_name: microbosh
      default_security_groups:
      - default

[2017-03-10 12:47] voelzmo commented on #68
* can you please put your code in within three ```, so that whitespace formatting works correctly? Are all the indentations correct?
* In keystone v3, you don't need to set `tenant`, only `project` is relevant
* Did I understand correctly, that you're changing the value for `project`, but it has no effect and you still get a different project?

[2017-03-11 11:55] zhoutiekui commented on #68
@voelzmo : I change the file "/home/tempest-web/tempest/web/vendor/bundle/ruby/2.2.0/gems/fog-1.35.0/lib/fog/openstack/core.rb"， change the column "options[:openstack_project_name] = projects_body['projects'].first['name']" to "options[:openstack_project_name] = "myproject" ", and it works. It authenticate with the right project I specified.

[2017-03-11 20:32] voelzmo commented on #68
@zhoutiekui I don't know what it is that you're doing. It seems you are running tempest tests which use fog? This is about the bosh-openstack-cpi, so I don't think I can help you with this.

[2017-03-13 03:06] zhoutiekui commented on #68
@voelzmo
I am testing the pivotal cloud foundry on openstack.

[2017-03-13 07:36] voelzmo commented on #68
The path you are talking about `/home/tempest-web/tempest/web/vendor/bundle/ruby/2.2.0/gems/fog-1.35.0/lib/fog/openstack/core.rb` is a tempest test. We don't do tempest testing. If there is a problem with a PCF test, please contact PCF support.

[2017-03-13 07:36] #68 closed

[2017-05-11 23:21] poblin-orange opened #72 "cpi requires 2 * memory on ephemeral disk for swap"
Hello,
im encoutering the following error (bosh 261.4, stemcell 3363.12)
[code]
The CPI enforces the rule that the ephemeral disk must be double size of the vm flavor memory.
In the flavor chose, 26Go memory, and only 50 Go ephemeral disk size.

It seems there is no limitation for flavor without ephemeral disk.
Why this specific value for ephemeral size ?
Is there a workaround ?

[2017-05-12 08:28] voelzmo commented on #72
Hi @poblin-orange thanks for raising this.

I think this is an artifact from a long time ago, which doesn't make sense anymore. Nowadays, the disk partitioning works as follows in the agent
* if you have separate root and ephemeral devices attached
  * take root device as is. Grow root partition to the maximum possible
  * partition ephemeral device in swap and ephemeral disk. Default for swap is

[2017-05-12 17:13] poblin-orange commented on #72
Hello @voelzmo, thks for your detailed answer.
I agree the disk size check wrt memory size should be removed.

As a workaround, my Iaas provider wont let me customize the flavors. I settled with a different flavor without ephemeral disk, and my depl was OK.
thks
Pierre

[2017-05-17 16:54] poblin-orange commented on #72
@voelzmo As a side note, i cant manage to disable swap partition in my config (single root disk, no ephemeral, stemcell 3363.14, bosh 261.4, openstack cpi 31).

As noted on slack, the property must be set on instance-group (not cloud-config vm type definition)

[code]

bosh agent gets the correct settings
[code]

However, the disk is still partitionned by the bosh-agent
[code]

[2017-06-07 23:50] engelrob commented on #51
I'm also trying to deploy CloudFoundry on Openstack Keystone V3 using BOSH and I am getting the same error when trying to upload the stemcell:

[code]

When I log into the bosh director VM, it allows to me to connect to Keystone manually though:
[code]
I was even able to obtain an auth token by posting a custom auth request through curl. Anyone have an idea what could be going on here?

[2017-06-08 19:00] cppforlife commented on #40
@loewenstein has this been fixed upstream already and pulled in via updates?

[2017-06-12 00:52] voelzmo commented on #40
@cppforlife not at all fixed. Upstream committers didn't really respond to the issue so far. Did this happen on your side again? We couldn't find a good way to reproduce.

[2017-07-12 19:56] arpitvipulsharma opened #73 "Hypervisor_type option required in bosh_openstack_cpi"
Dear Team,
I am using qemu as a hypervisor in Openstack. I am unable to launch stemcell because for stemcell hypervisor_type is kvm. I am getting not enough host available. While I am able to launch instance manually. Please do needful for this. If possible try to put this option in cpi.yml, So we can change it.
Thanks & Regards:
Arpit Sharma

[2017-07-13 08:39] mauromorales commented on #73
Hi @arpitvipulsharma

The `hypervisor_type` attribute is taken from the stemcell and simply passed to OpenStack by the CPI without any processing. One thing you could try is to repack the stemcell using the bosh-cli, keep the same name and os version and just modify the cloud properties so that `hypervisor_type` is set to `qemu` you can follow the documentation here: https://bosh.io/docs/repack-st

[2017-07-13 17:05] arpitvipulsharma commented on #73
Hi mauromorales! Thanks for your response. Issue solved. I have done by repacking of stemcell. I followed link which you shared.
I was using only one hypervisor with QEMU. In nova schedular logs, I was getting image filter errors.
Thanks to all for your support.

[2017-07-13 17:11] mauromorales commented on #73
@arpitvipulsharma thank you for reaching out and glad I was able to help!

Closing fixed

[2017-07-13 17:11] #73 closed

[2017-08-10 14:08] voelzmo commented on #72
You're right, this seems to be a bug in the bosh-agent's partitioning logic. I created https://github.com/cloudfoundry/bosh/issues/1758 to follow-up on this.

My assumption is that you also have flavors with an ephemeral disk of `0`?

[2017-08-10 23:28] poblin-orange commented on #72
Yes most of the provided flavor we get from our iaas have just a root disk, no ephemeral.
Others with ephemeral disk do not have 2* the memory size, so have we have to choose carefully ;-)
Thks for raising the issue on bosh-agent.

[2017-08-17 07:45] wildloop opened #82 "CPI Bosh::Clouds::CloudError: 'Timed out waiting for Server `X' to be terminated, deleted' in 'delete_vm' CPI method"
https://github.com/cloudfoundry-incubator/bosh-openstack-cpi-release/blob/a51ca01830666a8dbc2f582d6afc2d5ef85196d9/src/bosh_openstack_cpi/lib/cloud/openstack/openstack.rb#L201

How to get more detailed logs?
How to enable debug level on this class and where can I find this debug logs?

[2017-08-17 13:37] voelzmo commented on #82
Hey, @wildloop, thanks for your issue. Could you please provide some context on what you're doing, which error you're experiencing and what you're trying to achieve?

Thanks!

[2017-08-17 14:40] wildloop commented on #82
We are trying to deploy `CF` on `OpenStack IaaS`.
`OpenStack` is configured via `Terraform`, `Bosh` is deployed and running, `cf-deployment.yml` is created according to [the documentation found on the official website](http://docs.cloudfoundry.org/deploying/openstack/index.html).
While deploying `CF OpenStack` instances are properly booted, responsive, all machines are available to connect to each

[2017-08-17 15:10] voelzmo commented on #82
That certainly looks interesting. By default, the openstack-cpi waits for 5 minutes until resources have reached a certain state: http://bosh.io/jobs/openstack_cpi?source=github.com/cloudfoundry-incubator/bosh-openstack-cpi-release&version=33#p=openstack.state_timeout

Feel free to adjust the above value to something higher, such that you don't run into a timeout.

5 Minutes should be actually eno

[2017-08-17 17:28] wildloop commented on #82
Thanks @voelzmo for helping us.
We are using `PackStack Ocata`, ` nova-manage --version` 15.0.4.
We tried to set the `state_timeout` parameter in the `cf-deployment.yml` file:

[code]
but it probably wasn't passed correctly to `bosh-openstack-cpi` (command: `bosh -e bosh-1 -d openstack deploy cf-deployment.yml`). We don't know where to set it.

We tried to change defaults in the source code: [`DEF

[2017-08-18 07:37] wildloop commented on #82
We are going to try to change defaults in the source code: [`DEFAULT_STATE_TIMEOUT = 1800`](https://github.com/cloudfoundry-incubator/bosh-openstack-cpi-release/blob/master/src/bosh_openstack_cpi/lib/cloud/openstack/openstack.rb#L7) and create the custom release using BOSH 2 command:
[code]
We'll let you know about the effects.

[2017-08-18 14:18] beyhan commented on #82
Hi @wildloop,

its a bosh director property. Should be at this level: https://github.com/cloudfoundry/bosh-deployment/blob/b1f8d1bfa95fee6c8b89c678781e94912c41b31a/bosh.yml#L46

[2017-08-24 03:08] ligb opened #84 "incompatible character encodings: UTF-8 and US-ASCII"
cf:269 (I have deployed cf269 on bosh-lite successfully)
openstack:ocata
bosh-openstack-cpi:bosh-openstack-cpi-release-33.tgz
bosh-262.3-ubuntu-trusty-3421.9-20170706-183731-831697577-20170706183736.tgz
stemcell: bosh-stemcell-3445.2-openstack-kvm-ubuntu-trusty-go_agent.tgz
director-stemcell:bosh-stemcell-3421.9-openstack-kvm-ubuntu-trusty-go_agent.tgz

when' bosh deploy', I have the issue:

  **S

[2017-08-24 09:17] voelzmo commented on #84
Closing as a duplicate of https://github.com/cloudfoundry/cf-release/issues/1234. Please don't cross-post issues.

[2017-08-24 09:17] #84 closed

[2017-09-01 13:25] voelzmo commented on #82
Closing due to inactivity. Please re-open with new information when you need more help.

[2017-09-01 13:25] #82 closed

[2017-09-06 11:20] wildloop commented on #82
Thanks @beyhan, but this property (at level that you point) is not working for me.
Work around:

1. reduce the number of compilation workers:
[code]
2. after timeout (waiting for server to be deleted)... wait until the server is actually deleted

3. repeat deploy command with the fix flag: `bosh -e bosh-1 -d openstack deploy  --fix cf-deployment.yml`

[2017-09-24 15:36] fluppirt opened #90 "Updating instance consul_z1 fails while bosh deploy"
I'm trying to install cloud foundry on openstack and ran into a problem.

![consul](https://user-images.githubusercontent.com/32242981/30783866-84bb7e76-a14a-11e7-90e2-cde78c8fe017.png)

![unbenannt](https://user-images.githubusercontent.com/32242981/30783846-11bed0da-a14a-11e7-9097-c4ace7921a75.PNG)

I've increased the timers in the Update Block of the deployment manifest and recreated the vm ser

[2017-09-25 08:44] thardeck opened #91 "Validator creates snapshot but fails copying meta data"
Our validator pipeline fails with the latest bosh-openstack-cpi version while creating a snapshot. The snapshot is created but not reported as such so it is also not removed.

I will verify with the previous version if it is a regression or if the cloud environment changed in the mean time.

This is the stack trace:
[code]

[2017-09-25 09:30] voelzmo commented on #91
Hey @thardeck thanks for reporting this. Indeed, the validator doesn't provide the necessary metadata that BOSH provides, see the take snapshot test: https://github.com/cloudfoundry-incubator/cf-openstack-validator/blob/1c7805c7fc1d90a6171c1f63ae99a1ecf95bd60d/src/specs/cpi_lifecycle_spec.rb#L128

The validator isn't yet ready to be used with CPI >=v34, we're going to fix this in the near future.

[2017-09-25 11:56] voelzmo commented on #90
Hi @fluppirt

thanks for reporting this issue. It seems like this isn't actually OpenStack related, but rather an issue with how you deploy Cloud Foundry itself. Please re-open this issue on either https://github.com/cloudfoundry/cf-release or https://github.com/cloudfoundry/cf-deployment, depending on what you're using.

I'm closing this issue here for now.

[2017-09-25 11:56] #90 closed

[2017-09-26 08:32] voelzmo commented on #40
Closing this as supposedly this is fixed upstream

[2017-09-26 08:32] #40 closed

[2017-10-25 12:49] manojRy opened #95 "creating stemcell timedout"
Hello,
I have been trying to create a bosh directory on openstack. I am having a manifest file and I tried to deploy it and ended up with an error while creating the stemcell.
<img width="945" alt="stem" src="https://user-images.githubusercontent.com/16360625/31999491-b16e6f58-b993-11e7-9e75-42773f0367f2.PNG">

P:S: I can see the stemcell or partially created stem cell under private images in the

[2017-11-06 15:59] voelzmo commented on #95
Hey @manojRy

what is the state your image ends up in? Does it just take long to become 'active' or does it enter any 'error' state? Also: can you manually upload the same image using e.g. Horizon or the OpenStack CLI?

Out of curiosity: what kind of OpenStack installation are you running this against? Is this a DevStack or some local installation?

[2017-11-06 16:30] manojRy commented on #95
Hi @voelzmo . I have resolved it by adding `state_timeout: 3600` in the bosh.yml file. This is because my cloud provider is taking more time than usual cloud providers. With the above line, I have extended it to an hour which by default is no more than 5 mins. I haven't tried it uploading manually, I am trying it on a devstack

[2017-11-06 16:30] #95 closed

[2017-12-08 20:47] Amit-PivotalLabs opened #103 "Policy for supporting and testing against various OpenStack version?"
Hi folks,

I see in the README this project CI's against Liberty, Mitaka, and Newton.  According to https://releases.openstack.org, Liberty and Mitaka are past EOL and Legacy Support (Phase III), and Ocata and Pike have been released this year.

1. How are the versions of OpenStack that get tested decided today?
2. Do the versions of OpenStack supported by this CPI correspond 1-to-1 with the versi

[2017-12-08 21:29] voelzmo commented on #103
Hi @Amit-PivotalLabs,

thanks for bringing this up! Let's talk first about the theory behind what we're doing and then we get to the practicalities.

**theory**

That's currently decided very locally in our team. We don't have an official process for this.

We only list 'supported versions' when we actively CI against them.

That was our goal when we started: Supporting whatever OpenStack lists as

[2017-12-09 01:12] Amit-PivotalLabs commented on #103
Thanks @voelzmo !

For example, imagine that due to practical considerations you are only able to CI against M and N, but you nonetheless want to signal to users that you're sufficiently confident they can use the CPI against L and O as well.  In that case, you could say you CI against M and N, and support L-O.

A general policy might look like: "we CI against all but the latest active release plu

[2017-12-21 10:05] voelzmo commented on #91
Fixed in recent validator version.

[2017-12-21 10:05] #91 closed

[2018-01-02 22:53] cppforlife opened #111 "`OpenStack compute binding only supports version v2 and v2.1` error"
following stacktrace came up on our openstack mitaka env using v36 cpi:

[code]

following is the catalog returned:

[code]

[2018-01-03 09:42] voelzmo commented on #111
Seems like this is a bug in our regex implementation which matches the compute URL. We'll provide a fix soon.

[2018-01-03 15:40] #111 closed

[2018-01-09 16:20] bsnchan opened #114 "Redeploying a director does not delete the associated port from the network"
**Issue:** If the bosh director deployment fails, the CPI successfully deletes the failed vm but does not delete the port from the OpenStack network which causes the following error when attempting to redeploy the director:

[code]

**Notes**

* This occurred using OpenStack CPI v35
* I lost the debug logs as this occurred in CI but I'll update the issue the next time this occurs

[2018-01-10 09:59] voelzmo commented on #114
We might have missed a case during a failed `create_vm` which doesn't clean up ports correctly. Hard to tell which issue you ran into without having a debug log of the original failed `bosh deploy` task.

[2018-01-19 00:47] cunnie opened #116 "`Fixed IP address ... is already in use on instance .).` when downgrading neutron → nova"
Hi Marco & Everyone,

*This is not something you need to fix*; it's an FYI, something we came across during one of our failed tests:

* If you have installed a BOSH Director on OpenStack with the BOSH CLI and `use_nova_networking` not set or set to `false` (the default).
* And you attempt to to re-deploy the BOSH Director with `use_nova_networking: true`
* Then your deployment will fail:

[code]

[2018-01-25 13:59] voelzmo commented on #111
Fixed with [v37](https://github.com/cloudfoundry-incubator/bosh-openstack-cpi-release/releases/tag/v37)

[2018-01-25 22:12] markosluga commented on #111
Hi, when changing the CPI to v37 I get the following error when downloading the bosh cpi:

 Downloading release 'bosh-openstack-cpi'... Failed (00:01:21)
Failed validating (00:01:24)

Failed to download from 'https://bosh.io/d/github.com/cloudfoundry-incubator/bosh-openstack-cpi-release?v=37':
  Verifying digest for downloaded file:
    Expected stream to have digest '13a67e486b8c62dda48b13dd2b5c8

[2018-02-08 16:10] voelzmo commented on #114
@bsnchan any updates on this issue? Did you encounter that problem again or found a way to reproduce?

[2018-02-08 16:29] voelzmo commented on #116
Hey Brian,

Thanks for documenting this – I wasn't aware that switching from neutron to nova-networking was creating such issue. Unfortunately, I'm not really sure what we could do about this, except documenting it. Did you encounter this during tests? If not, what was the reason for switching from neutron to nova-networking? My hope was that nova-networking would only be used by people whose Open

[2018-02-08 16:46] voelzmo commented on #103
Hey @Amit-PivotalLabs

Sorry for not following up on this more timely.

I do agree with many of the things you said. We should really get back on track with the original plan to CI and officially support all OpenStack releases that are non-EOL'ed. We should also communicate that this is our policy and act predictively on it. Ideally, we'd also do additional tests with the currently developed versi

[2018-02-09 01:15] Amit-PivotalLabs commented on #103
No sweat :)

That would be hot!

Maybe "academic" isn't the right characterization, but it's more about planning.  Some organizations may start planning an upgrade to a new Openstack version many months in advance of doing it, and they need to see if all their ducks will be in a row when that time comes, so they will want to know whether BOSH will be ready at that point in time.

I tend to see Clo

[2018-02-10 22:03] Amit-PivotalLabs commented on #103
Also, a data point with regards to vendor support timelines vis a vis OSS timelines, it looks like RedHat makes their versions GA about 3 months after OpenStack org's official release date, and ends maintenance support about 3 months after OpenStack's EOL date.  Compare [OpenStack Releases](https://releases.openstack.org) with the Life Cycle Dates section of [Red Hat OpenStack Platform Life Cycle]

[2018-02-11 16:27] cunnie commented on #116
Yes, it was our CI that caught this. We did a CPI bump on a bunch of versions of our application, Ops Manager (1.11, 1.12, 2.0, and 2.1). On version 1.11 we never exposed the `use_nova_networking` option, but on later versions we exposed it. We also made a conscious decision to stick to nova networking in our CI.

The CPI bump changed the default networking from `nova` to `neutron`. Our version 1.

[2018-02-12 09:39] voelzmo commented on #72
New agent version that fixes this is included in stemcell 3541.x: https://github.com/cloudfoundry/bosh-linux-stemcell-builder/releases/tag/stable-3541.2

[2018-02-12 09:39] #72 closed

[2018-02-12 10:02] voelzmo commented on #116
Alright, thanks Brian for the explanation. I'm going to leave this one around here for documenting the behavior.

[2018-02-14 23:06] genevieve commented on #111
Going to bump the version of the cpi in jumpbox-deployment since I am seeing this trying to deploy the jumpbox with bbl right now. Sound good @cppforlife ?

[2018-02-14 23:07] cppforlife commented on #111
yup.

On Wed, Feb 14, 2018 at 3:06 PM, Genevieve <notifications@github.com> wrote:

[2018-02-15 15:12] voelzmo commented on #114
Closing this for now due to inactivity. Please re-open with some debug information when the issue reoccurs.

[2018-02-15 15:12] #114 closed

[2018-02-20 10:41] abhilash07 opened #118 "Is this cpi supports latest openstack release Queens"
hi did anyone deployed on openstack Ocata to Queens latest version. Thanks in advance.

[2018-02-20 10:59] voelzmo commented on #118
Hey @abhilash07,

OpenStack Queens is not released yet, it's [scheduled for 28th of February](https://releases.openstack.org/queens/schedule.html#q-release). We're not testing yet against Queens, so I can't say if the CPI works against Queens or not.

You can follow the discussion in #103 to learn about how our official policy for supporting future OpenStack versions is evolving.

[2018-02-20 10:59] #118 closed

[2018-03-08 09:09] voelzmo commented on #103
This would be very helpful, thanks for reaching out @dims. Let's continue to discuss some details in the cf slack #openstack channel!

[2018-03-19 09:17] zhongjun2 commented on #82
I have the same problem, I also want to change the state_timeout in my environment. Is it work on your environment?  Please let me know

[2018-03-19 09:18] zhongjun2 commented on #82
Thanks

[2018-03-19 09:47] voelzmo commented on #82
Hey @zhongjun2,

I'm not sure what you're asking. If you want to adjust the state timeout, you can adjust the property as mentioned in my comment above: https://github.com/cloudfoundry-incubator/bosh-openstack-cpi-release/issues/82#issuecomment-323102090

Does that solve your issue?

[2018-03-19 13:16] jyriok opened #121 "Problem when install bucc to openstack : Openssl error"
Hello,

I try to install BUCC on a iaas Openstack but i've error with openssl lib :

[code]
but
:
[code]

and

ruby and openssl is install and works :
[code]

and i've all the bosh dependencies installed :

[code]

Can you help me ?

[code]

[2018-03-19 13:22] jyriok commented on #121
it's for :
bosh-openstack-cpi  release  38

[2018-03-19 13:32] voelzmo commented on #121
Hey, @jyriok,

Thanks for reporting this. On which version of Ubuntu are you running this? I don't have any experience with `bucc`, so could you try not using it and switch to the standard way of deploying on OpenStack [as described by the docs] (https://bosh.io/docs/init-openstack.html)? Just to figure out if the issue is with `bucc` or if we have a general problem on certain Ubuntu versions.

Th

[2018-03-19 13:52] jyriok commented on #121
thanks for your quick answer :)
i try this on a Ubuntu 16.04.4 LTS

i've open this to bucc too   : https://github.com/starkandwayne/bucc/issues/102

i've just tested with Ubuntu 14.04.4 LTS and that's works :)

so for me, i will use 14.04 because i've no problem and i can close this issue or if you want, i let it open and help if you want make some test for see what's wrong

[2018-03-19 15:14] ramonskie commented on #121
do you use rvm?
what global ruby version do you use
whats the output of `ruby -v` in the bucc repo

[2018-03-19 16:03] jyriok commented on #121
[code]
[code]

[2018-03-19 16:14] ramonskie commented on #121
what is the ruby version your using in the ubuntu 14.04 where your setup does work?

[2018-03-19 16:37] jyriok commented on #121
for ubuntu 14.04 i have

[code]

[2018-03-19 16:41] ramonskie commented on #121
can you try to use the 2.4.1 instead of the 2.4.1p111
or maby even 2.4.0

[2018-03-21 13:21] jyriok commented on #121
i can't test it anymore, the server with 16.04 is gone and we use instead the 14.04 , so for me, actually, all is ok (for 14.04)
i close this issue, maybe i made something wrong with 16.04 or maybe i touch a incompatibility but i think , if the problem still exist, another person will open a new issue. we will see

thanks for yours support

[2018-03-21 13:21] #121 closed

[2018-03-21 13:36] jyriok opened #124 "Error: CPI error 'Bosh::Clouds::CloudError' with message 'can't use multiple availability zones: nova, GLT' in 'create_vm' CPI method"
hello,

i've 2 AZ  on my cloud-config: TZF & GLT

all works like i charm and i deploy cf-deployment without pain.
But today , i've a new message on my concourse :

`Error: CPI error 'Bosh::Clouds::CloudError' with message 'can't use multiple availability zones: nova, GLT' in 'create_vm' CPI method`

i use cf-deployment 1.19~1.20
and  bosh 264.7.0

on my cloud-config :

[code]

(i do 2 azs with sam

[2018-03-21 17:21] jyriok commented on #124
info  : i use openstack mitaka , the version who seem to have build problem actually ... maybe it's linked ?

[2018-03-22 08:31] voelzmo commented on #124
Hey @jyriok,

Here is what I understood from your error description:
* You did deploy Cloud Foundry successfully (at least) once
* A following deployment fails with the above error message

Did you make any changes to your cloud-config or manifest? BOSH shouldn't need to create any VMs if there are no changes in either of them.

[2018-03-22 08:50] jyriok commented on #124
yes, i've tried to modify my cloud-config for rename my network
and used ops file for renaming this on cf-deployment but i'ved some issues
 ( https://github.com/cloudfoundry/cf-deployment/issues/444)
but i'm not sure this is the source of my problem. because, i've rollbacked and push my old cloud-config file on bosh, and i still have this problem

i show you my cloud-config for help on debug if ne

[2018-03-22 11:10] zhongjun2 commented on #82
I got the following error, but my image status changed to 'active' after 10 minutes.
My question is how to change state_timeout: 300    to state_timeout: 3000.
Is it a env parameter?  export  state_timeout=30000?  It looks like it doesn't work. Do you have another advice?
# bosh upload-stemcell bosh-openstack-kvm-ubuntu-trusty-go_agent\?v\=3541.9
Using environment '192.168.0.177' as client 'admin'

[2018-03-22 14:31] jyriok commented on #124
i've found a workaround ...
if i delete my deployment and redeploy from scratch, my pb disappear.
 but if i try to rename my network after redeploy , issue reappear  .... strange

if i re-delete  my deployment, do my rename of network and redeploy as is , this works ....
strange ...

[2018-03-23 09:09] voelzmo commented on #124
@jyriok could you provide the task logs with `bosh task x --debug`, please? regular logs don't have enough information in them to understand what's going on.

[2018-03-26 09:17] jyriok commented on #124
@voelzmo hi
bosh task ## --debug give me  17000+ lines of logs :o
i can't copy/past all the lines because i've some internal information on it. which section do you need to be able to debug ? :s

[2018-03-28 13:16] jyriok commented on #124
again i've this error message, but the only change this time it's stemcell version :

[code]

i've copy/past one error logs from bosh task --debug who can maybe help :

`D, [2018-03-28T13:08:28 #107070] [create_missing_vm(consul/0e552033-bcb2-4eeb-9e77-7e275050f716 (0)/1)] DEBUG -- DirectorJobRunner: [external-cpi] [cpi-696447] response
: {"result":null,"error":{"type":"Bosh::Clouds::CloudError","

[2018-03-28 13:22] jyriok commented on #124
others logs with word "nova" is the error message :

`{"time":1522242508,"error":{"code":100,"message":"CPI error ''Bosh::Clouds::CloudError'' with message ''can''t use multiple availability zones: nova, LBG'' in ''create_vm'' CPI method"}}`

[2018-03-29 07:32] voelzmo commented on #124
Hey @jyriok,

I think here is what happens:
* `nova` is in many cases used as the default availability zone
* it seems your disk is provisioned in availability zone `nova`
* your openstack seems to be configured such that attaching a disk from AZ `nova` to a VM in AZ `LBG` is allowed
* by default, the openstack-cpi doesn't allow this. In order to support this use case, you'd have to set property [

[2018-03-29 08:57] jyriok commented on #124
@voelzmo
many thanks to you :)
i'm just a user of openstack and i don't manage it (we have a team for that). i've just contacted them for verification and yes, they use Ceph as Cinder backend and now i understand we have different AZ for each components and yes, the default AZ for cinder is "nova".

So, i will add this propertie to my bosh manifest and close this issue :)

i hope this issue will h

[2018-03-29 08:57] #124 closed

[2018-04-11 03:39] zhongjun2 opened #126 "Changing '//' to '/' in GET os-volume_attachments API"
Hi Marco & voelzmo & Everyone,

Why we only support "//" in GET os-volume_attachments API [1].  How about we also support  "/" in GET os-volume_attachments API .
Because we only support "/" in openstack official API doc[2]

Changing
GET /v2.1/<tenant_id>//servers/<resource_id>/os-volume_attachments
to
GET /v2.1/<tenant_id>/servers/<resource_id>/os-volume_attachments

[1] https://github.com/cloudfo

[2018-04-11 05:48] voelzmo commented on #126
Hey @zhongjun2,

Thanks for the bug report. Is that behavior creating an error for you? If so, which OpenStack distribution and version are you running?

[2018-04-11 07:58] zhongjun2 commented on #126
Hi @voelzmo,

We got error when we attaching a volume to the instance in our own OpenStack version. That OpenStack won't pass the "//" rule.  I am so confused why we have to use "//" in this special API, and use '/' on the rest of all APIs.

[2018-04-11 09:14] TommyLike commented on #126
Not familiar with this project, but with a quick search, I found there is a redundant splash [here](https://github.com/fog/fog-openstack/blob/dc635a68a92c62d20adedb0e8dd5f34baa385eb7/lib/fog/compute/openstack/requests/get_server_volumes.rb#L9) in the request url of project **fog-openstack**, I added a [bug report ](https://github.com/fog/fog-openstack/issues/389) there.

[2018-04-12 08:17] zhongjun2 commented on #126
Thanks TommyLike

Now, the Redundant slash already changed in fog-openstack project.
https://github.com/fog/fog-openstack/pull/390/files

[2018-04-12 09:49] zhongjun2 commented on #126
Hi @voelzmo,

Hi, since the fog-openstack code already been changed, I fix the openstack-api-calls.md doc.
Please take a look at it again, thanks.

[2018-04-19 07:55] voelzmo commented on #126
@zhongjun2 the file you changed just contains a record of the APIs the CPI is calling. We'll have to wait for fog-openstack to release a new version which contains the above fix and then update fog-openstack in the CPI. Once that is done, the CPI should work against your OpenStack as well.

[2018-04-25 23:24] fushewokunze-pivotal opened #130 "302 Page has moved error with cpi"
Environment: devstack pike
Test with both cpi v38 and v35

then when i run:

[code]

[2018-04-26 00:53] cppforlife commented on #130
@voelzmo any idea why it's redirecting to dashboard?

[2018-04-26 02:01] fushewokunze-pivotal commented on #130
@voelzmo @cppforlife - if you put the correct creds you get the redirect.

with wrong creds eg bad password you get 401 Authorized.

[code]

[2018-05-01 18:26] cppforlife opened #131 "potentially missing retry logic when waiting for resources"
seems like cpi hit " read timeout reached" error when waiting for server to be deleted. do we have some retry logic around this?

[code]

full stracktrace

[code]

[2018-05-07 13:25] beyhan commented on #131
Hi @cppforlife,

We don't have a retry logic for `Excon::Error::Timeout` errors in `destroy_server`. It seems to be the same also for `create_vm`. See this test case: https://github.com/cloudfoundry-incubator/bosh-openstack-cpi-release/blob/8b3650629905f32767bcd0d1825c447aabdb458d/src/bosh_openstack_cpi/spec/unit/create_vm_spec.rb#L447. Is this differently handled by the other CPIs?

[2018-05-22 15:46] voelzmo commented on #131
story: https://github.com/cloudfoundry-incubator/bosh-openstack-cpi-release/issues/131

[2018-06-15 19:10] poblin-orange opened #138 "root disk custom disk-type"
openstack cpi offers the ability to choose the cinder volume type for persistent disks. Our Openstack iaas (Flexible Engine) offers the ability to choose the boot volume root disk cinder volume type. Is there any way i missed on bosh configuration to set root disk type ?

[2018-06-28 14:28] voelzmo commented on #126
We've updated to fog-openstack 0.1.26, which includes https://github.com/fog/fog-openstack/pull/390
Next release of the CPI includes the fix.

[2018-07-06 15:02] #126 closed

[2018-07-20 14:01] voelzmo commented on #138
Closing due to inactivity. Feel free to re-open with more information.

[2018-07-20 14:01] #138 closed

[2018-07-23 09:00] zhongjun2 commented on #126
Thanks voelzmo!

[2018-07-29 02:15] TommyLike opened #146 "Testcase is failing due to the old version ruby."
I have set up the test environment based on ruby 2.3.X, but the testcases are failing as below:
[code]
I guess it's because of the `match?` is introduced since ruby 2.4, so we need to make the ruby version explicit in document.

[2018-07-30 06:40] voelzmo commented on #146
Fixed with https://github.com/cloudfoundry-incubator/cf-openstack-validator/commit/bdcc74b2a4efefb2b6023c396f9a3a003dfcbaab

Thanks for reporting!

[2018-07-30 06:40] #146 closed

[2018-09-11 15:12] vChrisR commented on #121
I am using 16.04 as well and get the exact same error. All dependencies are there but it won't work.
I am not using BUCC, just using bosh-deployment.

[2018-09-11 15:27] ramonskie commented on #121
did you checked the ruby versions?

[2018-09-11 15:36] vChrisR commented on #121
tried the one that gets installed using _apt-get installl ruby_ first (2.3.1 I believe). Then tried 2.5.x

Just deleted the box with 16.04 and launching a 14.04 instance now. Just need to get it working. but I can try 16.04 again later if you need more details.

[2018-10-13 10:23] poblin-orange opened #161 "disk resize miss linux fs resize"
When using openstack resize disk feature , the persistent disk is resized @ iaas level. However, theres a missing step as operators have to resize the fs to take benefit of the full iaas disk capacity

[2018-10-15 19:07] frodenas opened #162 "Network Lifecycle Management"
BOSH [v268.0.1](https://github.com/cloudfoundry/bosh/releases/tag/v268.0.1) introduces beta functionality of [network lifecycle management](https://docs.google.com/document/d/1akr17Iep99fCYNqZQv9uoxar7qF04U40O6cYoAsg3lA/edit). Can we add support for this at the OpenStack  CPI?

[2018-10-16 09:57] voelzmo commented on #162
Thanks for the heads-up and checking in on the networking support for OpenStack, Ferdy! We're currently finishing up the last pieces for a new CPI release and will look at networking support for the next one.

[2018-10-17 02:46] frodenas commented on #162
Awesome, thanks @voelzmo!

[2018-10-19 11:03] voelzmo commented on #103
Fixed with https://github.com/cloudfoundry/bosh-openstack-cpi-release/commit/d292dddaaeef55701abf04177edab7b807e53721

Official support policy is now at https://github.com/cloudfoundry/bosh-openstack-cpi-release#supported-openstack-versions

Let me know if this policy doesn't work for you, or if we should word it differently to help you in discussions with your customers.

Thanks @Amit-PivotalLabs

[2018-10-19 11:03] #103 closed

[2018-10-20 08:47] Amit-PivotalLabs commented on #103
Thanks!

[2018-11-06 09:44] KaiHofstetter opened #169 "`BOSH create-env` fails with `OpenStack API service not found error..` if floating-ip is already associated"
If the BOSH deployment manifest uses a floating-ip, which is already associated in OpenStack, `BOSH create-env` fails while creating VM with: `OpenStack API service not found error ... (404 Not Found)..`.

[code]

Expected behavior: Hint that floating ip is already associated instead of 404.

[2018-11-08 09:58] voelzmo commented on #131
Fixed by v40 of the CPI

[2018-11-08 09:58] #131 closed

[2018-12-13 09:28] #130 closed, assigned to nobody

[2019-03-21 08:49] kayrus opened #186 "Auth: Add application credential auth support"
https://docs.openstack.org/keystone/queens/user/application_credentials.html

Application Credential can have limited permissions and an owner can always revoke these credentials or set an expiry date.

[2019-03-27 08:24] beyhan commented on #186
Thanks @kayrus for opening this issue. We will look into this asap. Do you have an use case where you want to use this feature?

[2019-03-27 09:14] kayrus commented on #186
@beyhan as stated in the auth method description - I don't want to expose my user credentials, in case when the auth is made against the LDAP.

[2019-04-17 17:53] cjett-pivotal opened #193 "Running validator returns UndefinedConversionError"
When running the validator against OpenStack, the following error is returned:

[code]

[2019-06-25 16:29] FlorianNachtigall commented on #193
Hi @cjett-pivotal,
thanks for reporting this issue. Do you still have the `excon.log` by any chance or the OpenStack project to reproduce the error?

[2019-07-24 10:39] foexle opened #211 "Missing config parameter for different domains"
after some debugging i figured out it's not possible to configure different domain names/ids for user and project. This is necessary in enterprises with multiple IAM backend systems.

**execute**
`bosh create-env bosh-deployment/bosh.yml --state=bosh-state.json --vars-store=director-creds.yml --vars-file=../bosh_vars.yaml -o bosh-deployment/openstack/cpi.yml -o bosh-deployment/external-ip-with-reg

[2019-07-29 20:14] poblin-orange commented on #161
Issue still present. Blocking with recent stemcells. Suggest deprecating removing this property as its unsafe

[2019-10-28 10:00] gberche-orange opened #224 "Support encrypted volumes"
As a bosh operator, in order to protect data stored in openstack volumes in case of openstack disk being stolen by an attacker, I need the bosh openstack CPI to instruct openstack to encrypt ephemeral and persistent disks.

See related openstack documentation at https://docs.openstack.org/security-guide/tenant-data/data-encryption.html

Some other CPIs support such feature by leveraging Iaas encry

[2019-10-28 10:50] voelzmo commented on #224
Hey @gberche-orange, thanks for the issue!

It's true that how to encrypt your volumes in an OpenStack installation using BOSH isn't properly documented. Note that we didn't have means to test this, as necessary projects (Barbican) isn't installed in our distribution.

Here's the theory for persistent disks:
* Create a volume type which supports encryption https://docs.openstack.org/cinder/train/c

[2019-10-28 12:57] gberche-orange commented on #224
thanks @voelzmo for your prompt and detailed response !

Vsphere CPI documents independently encryption status for each dis type at https://bosh.io/docs/vsphere/#encryption

Disk Type | Encryption
-- | --
Root Disk | Supported
Ephemeral Disk | Supported
Persistent Disk | Supported

Would the following description be accurate for openstack ? Could `boot from image` mode also benefit from encryption

[2019-10-29 08:38] gberche-orange commented on #224
@voelzmo further checking our Huaweicloud-based openstack installation, it seems that the selection of encryption settings is performed using cinder create disk endpoint through the metadata field and not the volume type field. See https://support.huaweicloud.com/en-us/api-evs/en-us_topic_0102534367.html with extracts reproduced below for convenience.

It seems that the CPI assigns some metadata b

[2019-11-09 20:11] meowthsli commented on #211
Also it looks like Fog Openstack gem, which CPI release relies on, has a bug: it is not possible to specify `openstack_project_domain_name`, used later in code, because of `recognizes` guards, which does not contain :openstack_project_domain_name key, but :openstack_project_domain only

[2020-04-24 11:02] benschweizer opened #231 "OpenStack CPI should error when multiple security groups match and hint to using UUIDs"
When multiple security groups with the same name exist, bosh create-env fails.
The function ```find_openstack_sg_by_name``` returns the first uuid from a list, which is most likely wrong. The openstack cli tool in contrast raises an error "More than one SecurityGroup exists with the name 'bosh'"; I think the cpi should behave the same.

[2020-04-27 07:20] voelzmo commented on #231
That's a good point, @benschweizer, thanks!

For the time being, you can use the `UUID` instead of the `name` for a security group reference, in case that unblocks you in your current environment. This was implemented as a follow up of https://github.com/cloudfoundry/bosh-openstack-cpi-release/pull/117 – but apparently not documented.

[2020-04-27 07:21] voelzmo opened #232 "document possible usage of UUID instead of name for security group"
Done with https://github.com/cloudfoundry/bosh-openstack-cpi-release/pull/117 but not mentioned in the [job spec](https://github.com/cloudfoundry/bosh-openstack-cpi-release/blob/master/jobs/openstack_cpi/spec#L61-L63).

See #231 – it seems like this could help people achieve their goals.

[2020-04-27 07:22] voelzmo commented on #231
Changed the title to match criteria for a possible solution

[2020-09-02 23:22] dohq opened #233 "neutron lbaas is deprecated"
https://wiki.openstack.org/wiki/Neutron/LBaaS/Deprecation

neutron lbaas seems to have been removed from the current version (Ussuri).
Nowadays, octavia is recommended.
Is there any plan to support this?
I was curious because I was trying to install BOSH with ussuri using octavia.

[2020-12-14 19:59] poblin-orange opened #235 "Enable multiple arp vip"
As of v44, the openstack cpi offers a way to set up a single VRRP VIP, with the allowed_adress_pair.

The CPI checks:
- that the single provided ip is set
- that an openstack port exists, with the given ip

This works perfectly, typically with haproxy bosh release and its keepalived implementation https://github.com/cloudfoundry-incubator/haproxy-boshrelease/tree/master/jobs/keepalived

However, t

[2021-06-07 11:50] andinod commented on #211
Hi,
is there any news regarding this issue?

[2021-08-03 15:40] #235 closed

[2021-08-03 15:40] #233 closed

[2021-08-03 15:40] #232 closed

[2021-08-03 15:40] #231 closed

[2021-08-03 15:40] #224 closed

[2021-08-03 15:40] #211 closed

[2021-08-03 15:40] #193 closed

[2021-08-03 15:40] #169 closed

[2021-08-03 15:40] #162 closed

[2021-08-03 15:40] #161 closed

[2021-08-03 15:40] #116 closed

[2021-08-18 07:29] gberche-orange commented on #224
@bosh-admin-bot please reopen this issue open as I believe it is still relevant

[2021-09-02 08:35] bgandon opened #238 "Bump Ruby, for cleanup_memberships() method to support both String and Symbol keys"
The issue was originally reported and analysed in Slack:
https://cloudfoundry.slack.com/archives/C02HPPYQ2/p1630547568034700

### Original stack trace

[code]

### Bug analysis

This is an issue in the rescue code when VM instance (called “server” in OpenStack parlance) creation fails here:
https://github.com/cloudfoundry/bosh-openstack-cpi-release/blob/master/src/bosh_openstack_cpi/lib/cloud/open

[2021-09-03 12:40] mephmanx commented on #233
I am trying to install cloudfoundry on a Wallaby cloud and having issues with LBaaS as well.

[2021-09-03 12:43] mephmanx opened #239 "Neutron LBaaS removal Cloudfoundry deployment on Openstack Wallaby issue"
I am trying to deploy cloudfoundry using this repo:

https://github.com/cloudfoundry/cf-deployment

And everything goes well except for VM's that deal with the load balancer, tcp-router, router, and such.  I have been reading around and came across the deprecation of the neutron LBaaS info and wonder if it is also affecting my deployment.  Here are the issues I am seeing:

[bosh-cf-deploy-error.tx

[2021-09-07 11:53] rkoster commented on #239
@mephmanx are you still blocked by this? Asking since I saw you [mentioned on slack](https://cloudfoundry.slack.com/archives/C02HPPYQ2/p1630688864048700) that your deployment worked. If that is indeed the case, are there any docs that you think should be improved/updated to reflect the current state of OpenStack Wallaby compatibility?

[2021-09-07 11:58] mephmanx commented on #239
The issue is that on the cloudfoundry side there are still calls being made to the Neutron LBaaS endpoint.  I had to add an HAProxy rule that intercepted any requests with “lbaas” in their path and forward those to Octavia instead of Neutron.  It would be VERY useful to have that documented somewhere as that was a LOT of digging.  Feels like something should be updated somewhere instead of having

[2021-09-07 12:17] rkoster commented on #239
Adding native octavia support is blocked on: https://github.com/fog/fog-openstack/issues/346

[2021-09-14 15:50] bgandon commented on #161
Hi Pierre, you may be happy to hear that I've recently submitted all the necessary changes to the BOSH Agent and BOSH Director for IaaS-native disk _growing_ to properly work.
We now need all that to be reviewed and merged. See cloudfoundry/bosh-agent#244 for updates.

[2021-09-20 18:25] klakin-pivotal commented on #238
Thanks for reporting this. We'll prioritize it appropriately.

Unfortunately, we have a ton of work, so it won't be a very high priority... so if you want this resolved rapidly, developing submitting a PR that resolves the issue is probably your best course of action.

[2021-09-23 09:11] bgandon commented on #238
I would love to!

But `bosh vendor-packge` requires private _write_ access to the BOSH Release blobstore, unfortunately. Would you share with me the creds to the `bosh-openstack-cpi-blobs` bucket on AWS S3? As a member of the Bosh team, and reviewer of the BOSH sub-WG for the CFF, this should be fairy possible…

Otherwise, here would be the commands I would run, including the patch to apply:

[cod

[2021-10-05 12:41] #239 closed

[2021-10-07 20:24] rkoster commented on #238
Thanks @bgandon

[2021-11-25 00:34] mephmanx opened #244 "Update for cinderv3 for openstack xena release"
Title says it all....cinderv2 is deprecated/removed in xena.  it was just pushed to kolla repos today and I am unable to deploy bosh directors.

[2021-12-01 18:42] rkoster commented on #244
@mephmanx Xena support is currently not yet on our roadmap, however, we are happy to review a PR that adds support for it.

[2021-12-01 18:47] mephmanx commented on #244
I am working with / trying to push the fog-openstack team to merge an open PR to add cinder v3 support for BOSH.  That was the only issue I saw when I tried to deploy....if I could get the fog-openstack lib changed Im happy to see what issues would show up next and work through those.

Here is that PR:

https://github.com/fog/fog-openstack/pull/518

[2021-12-22 19:03] mephmanx commented on #244
There is no activity on this?!  Wouldent this be a pretty easy merge?

[2021-12-23 07:53] beyhan commented on #244
Hi @mephmanx,

What kind of activity do you expect? As @rkoster stated we are happy to review a pr.  Please provide it when https://github.com/fog/fog-openstack/pull/518 is merged and there is a release of `fog-openstack` available with `cinderv3` support..

[2021-12-23 12:39] mephmanx commented on #244
Sorry about that, I had thought this was the link to 518.  My apologies.  I have a list of PR's I am trying to push and this was the wrong link for that one.

[2022-01-20 13:06] #244 closed

[2022-02-05 13:06] mephmanx commented on #244
Fog-openstack with cinder v3 compatibility was finally released last week!  Can I revivie this thread?

[2022-02-09 15:23] mephmanx commented on #244
Ill check and see whats needed.  The fog library has been updated for openstack to use cinder v3….I thought there was a PR open against this lib for that…Ill take a look.

From: Ruben Koster ***@***.***>
Date: Tuesday, February 8, 2022 at 2:53 AM
To: cloudfoundry/bosh-openstack-cpi-release ***@***.***>
Cc: Chris Lyons ***@***.***>, Mention ***@***.***>
Subject: Re: [cloudfoundry/bosh-openstack-cpi

[2022-05-16 09:24] flyersa opened #247 "Cinder V2 no longer supported - cannot deploy bosh"
I see issues when trying to deploy bosh with openstack from latest checkout:

`Deploying:
  Creating instance 'bosh/0':
    Updating instance disks:
      Updating disks:
        Deploying disk:
          Creating disk with size 65536, cloudProperties property.Map{}, instanceID b8ddb77e-ccd7-46f7-b674-26eb36fba150:
            CPI 'create_disk' method responded with error: CmdError{"type":"Unknown

[2022-05-17 13:02] flyersa commented on #247
with 47pre i managed to get it done but the agent does not seem to initalize on the director vm. Also why is the director vm grub locked down with user/pass? It does not even accept the bosh.pem key to ssh into it for further debugging.

`/opt/bosh-1# bosh create-env bosh-deployment/bosh.yml     --state=bosh-state.json     --vars-store=director-creds.yml     --vars-file=vars.yml     -o bosh-deploy

[2022-05-20 14:42] beyhan commented on #247
Regarding the ssh access have you configured `authorized_keys` as described in https://bosh.io/docs/manifest-v2/?

[2022-05-23 09:06] flyersa commented on #247
not that i know of. I followed https://bosh.io/docs/openstack-cpi/  in Usage. It has a bosh key in openstack and the keyname is specified in default_keyname with its name.

`- path: /instance_groups/name=bosh/properties/openstack?
  type: replace
  value:
    api_key: ((openstack_password))
    auth_url: ((auth_url))
    default_key_name: ((default_key_name))
`
so it should use default_key_name fr

[2022-05-23 09:10] flyersa commented on #247
hmm i tried the wrong username. I can login as user vcap to the vm with the specified private key, but cannot sudo etc. How can i debug the agent? obviously its not running, there is no agent port open and i cannot see a process

[2022-06-01 15:37] yaguangtang commented on #247
please take look at this to temp fix this cinder v2 issue https://github.com/cloudfoundry/bosh-openstack-cpi-release/pull/246#issuecomment-1077461121

[2022-06-08 08:09] flyersa commented on #247
Hello @yaguangtang i already use v47pre and while the problem with cinder is fixed, the agent is not contacting the controller. logging in to the stemcell after creation of the vm i do not even see a process running related to the agent and no port listenning. So the deployment never finishes as it waits forever for the agent which is not run.

[2022-06-08 08:51] yaguangtang commented on #247
@flyersa please take a look at this https://github.com/fog/fog-openstack/pull/518#issuecomment-1081237963, I use the same v47pre version with openstack wallaby, all seem to works.

[2022-06-15 11:58] ares commented on #247
Hi, could you please confirm whether this is 1.0.0-pre regression?

[2022-06-21 10:49] flyersa commented on #247
Well i also tested the newer stemcell versions for the bionic agent. Stil nothing.

`root@osc191d001:/opt/bosh-1# bosh create-env bosh-deployment/bosh.yml     --state=bosh-state.json     --vars-store=director-creds.yml     --vars-file=vars.yml     -o bosh-deployment/openstack/cpi.yml     -o bosh-deployment/external-ip-with-registry-not-recommended.yml     --var-file=private_key=bosh.pem
Deployment

[2022-06-22 11:32] beyhan commented on #247
@flyersa do you see anything in the agent logs under `/var/vcap/bosh/log/current`? More details about the different locations are available here https://bosh.io/docs/vm-config/#agent

[2022-06-24 08:22] beyhan commented on #247
you should be able to attach the ephemeral disk to another VM where you have admin privileges and look into the logs from there.

[2022-06-24 09:12] flyersa commented on #247
ok looks like something is wrong with the dns, i mounted the disk image with rbd map and see this in last in the agent logs:

[code]

guess that explains it.

[2022-06-24 09:23] #247 closed

[2022-06-27 07:30] flyersa commented on #233
this really needs to get addressed. You cannot deploy cloudfoundry anymore on most recent openstack versions with lbaas v2 deprecated.

[2022-08-01 13:05] andinod opened #250 "Error GemNotFound"
Hi,

I tried to install the latest version of bosh with Openstack cpi, and I have received this error:

Error getting CPI info:
  Executing external CPI command: '/home/test/.bosh/installations/ff6c6aa7-9f5a-4057-50d1-76996e1d6cb8/jobs/openstack_cpi/bin/cpi':
    Running command: '/home/test/.bosh/installations/ff6c6aa7-9f5a-4057-50d1-76996e1d6cb8/jobs/openstack_cpi/bin/cpi', stdout: '', stderr: '

[2022-08-02 05:35] andinod commented on #250
I see that this issue was fixed today through the new release 48. Thanks a lot

[2022-08-02 05:35] #250 closed

[2022-09-06 12:35] andinod opened #252 "Problems to generate the bosh dev release"
Hi everbody,

currently I'm trying to generate a devel release for testing puporses of my changes in openstack cpi, and I found an issue where I don't have the answer.

I'm getting the following error:

$ bosh create-release --force --tarball=/home/cloud-user/releases/bosh-openstack-cpi.tgz
-- Started downloading 'ruby-3.1.0-r0.81.0/9cf1a9582c595fd03eb9c73cd3c4b2d10de10c139f99ab0b9d1a71e5d2b91378'

[2022-09-08 15:10] rkoster commented on #252
It seems to work on my machine:
[code]
Could you try again after running `bosh reset-release`?

[2022-09-09 14:09] andinod commented on #252
yes it works. Thanks a lot.

[2022-09-09 14:09] #252 closed

[2022-09-14 14:21] ionphractal commented on #138
Seems like newer versions (>stein) support a volume_type parameter. @voelzmo @beyhan
https://docs.openstack.org/nova/stein/user/block-device-mapping.html

Would be great to have this!

[2022-09-15 11:53] andinod opened #253 "Unfortunately, an unexpected error occurred, and Bundler cannot continue."
Hello,

I've been trying to test my changes in live generating a dev release, but I all the time receive the same error. Just for you know I'm running behind a proxy.

**Installing CPI:
  Compiling job package dependencies for installation:
    Compiling job package dependencies:
      Compiling package:
        Running command: 'bash -x packaging', stdout: 'Bundler 2.3.22 is running, but your loc

[2022-09-15 14:53] rkoster commented on #253
Have you tried running bundle package? It looks like bundler is trying to fetch a gem from the internet which it should not be doing during package compilation. All dependencies need to be provided by the bosh release.

[2022-09-15 15:06] beyhan commented on #138
Hi @ionphractal,
we are happy to review a PR if you want to contribute this.

[2022-09-15 16:23] andinod commented on #253
On the other hand I can notice that he is referring to use bundler 2.3.22 and then it tries to use the 2.3.7 which is the one that it is supposed to use which at the end fails.

To be honest that's a weird message, I've never seen something like that in a release...

On the other hand just to make sure it wasn't using any other cache I deleted the downloaded, cache and installation dirs from .bosh

[2022-09-16 06:44] andinod opened #254 "GemNotFound"
Hi,

I just tested in a clean installation the new release of the bosh openstack cpi, v49 and I received this message:

Started validating
  Downloading release 'bosh'... Finished (00:00:48)
  Validating release 'bosh'... Finished (00:00:00)
  Downloading release 'bpm'... Finished (00:01:11)
  Validating release 'bpm'... Finished (00:00:00)
  Downloading release 'bosh-openstack-cpi'... Finished (0

[2022-09-27 11:58] ogrand opened #255 ""user_data" needs to be encoded in base64 without newlines"
Hello,

Bosh Openstack cpi send a POST request for instance creation, with body content `user_data` base64 encoded row containing newlines `\n` every 60 characters:

[code]
Recent upgrade (openstack 22.3) is less permissive for base64 decoding and refuses newlines `\n` inside base64 encoded value.

To be compliant, it will be nice to replace encoding format in `/var/vcap/packages/bosh_openstack_cp

[2022-10-11 13:10] ogrand commented on #255
Hello Ruben, I create a PR in fog-openstack repository for this issue.
Hope It will be merged soon.

Regards. Olivier

[2022-10-31 14:57] lnguyen commented on #254
This is fixed in v50

[2022-10-31 14:57] #254 closed

[2022-10-31 16:21] #253 closed

[2022-10-31 16:21] andinod commented on #253
Fixed in Version 50